In [1]:
# namedtuple 모듈은 튜플의 형태로 데이터를 구조화에 맞게끔
# 저장하는 자료구조이다.

# 일반적인 튜플의 경우
person1 = ("신은혁",14,"남")
person2 = ("강은비",17,"여")
for n in[person1,person2]:
    print(f"{n[0]}는 {n[1]}세의 {n[2]}성입니다.")

신은혁는 14세의 남성입니다.
강은비는 17세의 여성입니다.

In [5]:
# namedtuple인 경우
from collections import *
Person = namedtuple("Person","name age gender")
p1 = Person._make(["김연아",20,"여성"])
p2 = Person._make(["신은혁",10,"남자"])
p3 = Person(name="호두",age=1,gender="여성")

for n in [p1,p2,p3]:
    # 일반적인 튜플은 .(접근연산자)를 사용하지못하지만
    # namedtuple은 가능하다.
    print(n.name,n.age,n.gender)
    # Person이라고 정의를 해놓았고 그의 필드들이 3개가
    # 존재하고 있기 떄문에
    # namedtuple은 .(접근연산자)를 이용할수 있다.
    # 인덱스로도 가능하다.

김연아 20 여성
신은혁 10 남자
호두 1 여성

In [6]:
# namedtuple의 메서드
# _make() 메서드 : 기존에 생성된 namedtuple에 새로운 인스턴스
# 를 생성해주는 메소드이다.
# 매서드 안에 매개변수로 들어가는 것은 시퀀스 자료형이여야 한다.
p4 = Person._make(["우주",15,"남자"])

In [15]:
# p1[0]= "김동수"
# namedtuple도 직접적인 수정은 일반튜플과 같이 접근불가
# namedtuple에서는 인덱스를 통한 값변경은 되지 않지만
# _replace()메소드로 값의 변경이 가능하다 리턴값으로 주기 때문에
# 받아줘야함
p3 = p3._replace(name="김동수")
print(p3)

Person(name='김동수', age=1, gender='여성')