조건으로 검색하기

numpy array와 마찬가지로 masking 연산이 가능하다.

In [4]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.rand(5,2), columns=["A","B"])
print(df) 
#           A         B
# 0  0.836224  0.388792
# 1  0.641054  0.411261
# 2  0.658604  0.033699
# 3  0.967437  0.459741
# 4  0.100597  0.831582
print("-------------------")

print(df["A"] < 0.5)
# 0    False
# 1    False
# 2    False
# 3    False
# 4     True
# Name: A, dtype: bool

          A         B
0  0.836224  0.388792
1  0.641054  0.411261
2  0.658604  0.033699
3  0.967437  0.459741
4  0.100597  0.831582
-------------------
0    False
1    False
2    False
3    False
4     True
Name: A, dtype: bool

조건으로 검색하기
조건에 맞는 DataFram row를 추출 가능하다

In [8]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.rand(5, 2), columns=["A", "B"])
print(df)
#           A         B
# 0  0.647373  0.672083
# 1  0.449452  0.361233
# 2  0.157967  0.888618
# 3  0.071167  0.276175
# 4  0.282661  0.460921
print("-------------------")

print(df[(df["A"]< 0.5) & (df["B"]>0.3)])
#           A         B
# 1  0.449452  0.361233
# 2  0.157967  0.888618
# 4  0.282661  0.460921
print("-------------------")

print(df.query("A < 0.5 and B > 0.3"))
#           A         B
# 1  0.449452  0.361233
# 2  0.157967  0.888618
# 4  0.282661  0.460921

          A         B
0  0.647373  0.672083
1  0.449452  0.361233
2  0.157967  0.888618
3  0.071167  0.276175
4  0.282661  0.460921
-------------------
          A         B
1  0.449452  0.361233
2  0.157967  0.888618
4  0.282661  0.460921
-------------------
          A         B
1  0.449452  0.361233
2  0.157967  0.888618
4  0.282661  0.460921

조건으로 검색하기

문자열이라면 다른 방식으로도 조건 검색이 가능하다

df["Animal"].str.contains("Cat")
df.Animal.str.match("Cat")

#정규표현식 검색

조건으로 검색하기
데이터 프레임에서, 각 컬럼마다 조건을 충족하는 값만 추출할 수 있습니다.

Numpy의 마스킹 연산처럼 조건식을 직접 쓸 수도 있고, query() 함수를 이용하는 방법도 있습니다.

영상을 보며 데이터 프레임내에서 원하는 데이터를 조건을 주어 검색하는 방법을 배우고, 실습 문제를 해결해봐요.


지시사항
Q1

예시 코드에 컬럼 A, B를 가진 2차원의 데이터프레임을 생성되어 있습니다.

A컬럼 값이 0.5보다 작고 B컬럼 값이 0.3보다 큰 값들을 구하여 출력해보세요.

마스킹 연산과 query 함수를 둘 다 사용해봅시다.

In [ ]:
import numpy as np
import pandas as pd

print("Masking & query")
df = pd.DataFrame(np.random.rand(5, 2), columns=["A", "B"])
print(df, "\n")

#데이터 프레임에서 A컬럼값이 0.5보다 작고 B컬럼 값이 0.3보다 큰값들을 구해봅시다.
print(df[(df["A"]< 0.5) & (df["B"]>0.3)])
print(df.query("A < 0.5 and B > 0.3"))

함수로 데이터 처리하기

함수로 데이터 처리하기

apply를 통해서 함수로 데이터를 다룰 수 있다

In [11]:
df = pd.DataFrame(np.arange(5), columns=["Num"])
print(df)
#     Num
# 0    0
# 1    1
# 2    2
# 3    3
# 4    4

def square(x):
    return x**2

print(df["Num"].apply(square))
# 0     0
# 1     1
# 2     4
# 3     9
# 4    16
# Name: Num, dtype: int64

df['Square'] = df.Num.apply(lambda x : x ** 2)
print(df)
#    Num  Square
# 0    0       0
# 1    1       1
# 2    2       4
# 3    3       9
# 4    4      16

   Num
0    0
1    1
2    2
3    3
4    4
0     0
1     1
2     4
3     9
4    16
Name: Num, dtype: int64
   Num  Square
0    0       0
1    1       1
2    2       4
3    3       9
4    4      16

함수로 데이터 처리하기
apply를 통해서 함수로 데이터를 다룰 수 있다

In [14]:
df = pd.DataFrame(columns=["phone"])
df.loc[0] = "010-1234-1235"
df.loc[1] = "공일공-일이삼사-1235"
df.loc[2] = "010.1234.일이삼오"
df.loc[3] = "공1공-1234.1이3오"
df["preprocess_phone"] =""
print(df)
#             phone preprocess_phone
# 0  010-1234-1235                 
# 1  공일공-일이삼사-1235                 
# 2  010.1234.일이삼오                 
# 3  공1공-1234.1이3오       

def get_preprocess_phone(phone):
    mapping_dict = {
        "공":"0",
        "일":"1",
        "이":"2",
        "삼":"3",
        "사":"4",
        "오":"5",
        "-":"",
        ".":"",
    }
    for key,value in mapping_dict.items():
        phone = phone.replace(key,value)
    return phone

df["preprocess_phone"] = df["phone"].apply(get_preprocess_phone)
print(df)
#             phone preprocess_phone
# 0  010-1234-1235      01012341235
# 1  공일공-일이삼사-1235      01012341235
# 2  010.1234.일이삼오      01012341235
# 3  공1공-1234.1이3오      01012341235

           phone preprocess_phone
0  010-1234-1235
1  공일공-일이삼사-1235
2  010.1234.일이삼오
3  공1공-1234.1이3오
           phone preprocess_phone
0  010-1234-1235      01012341235
1  공일공-일이삼사-1235      01012341235
2  010.1234.일이삼오      01012341235
3  공1공-1234.1이3오      01012341235

함수로 데이터 처리하기
replace : apply 기능에서 데이터 값만 대체 하고 싶을 때

In [20]:
df = pd.DataFrame(columns=["Sex"])
df.loc[0] = "Male"
df.loc[1] = "Male"
df.loc[2] = "Female"
df.loc[3] = "Female"
df.loc[4] = "Male"
print(df)
#        Sex
# 0    Male
# 1    Male
# 2  Female
# 3  Female
# 4    Male
print("------")

print(df.Sex.replace({"Male": 0, "Female": 1}))
# 0    0
# 1    0
# 2    1
# 3    1
# 4    0
# Name: Sex, dtype: int64
print("------")

# inplace = True <- 원본 변화 키워드(수정)
df.Sex.replace({"Male": 0, "Female": 1}, inplace=True)
print(df)
#    Sex
# 0    0
# 1    0
# 2    1
# 3    1
# 4    0

      Sex
0    Male
1    Male
2  Female
3  Female
4    Male
------
0    0
1    0
2    1
3    1
4    0
Name: Sex, dtype: int64
------
   Sex
0    0
1    0
2    1
3    1
4    0

함수로 데이터 처리하기
apply() 를 이용하면 함수를 이용하여 데이터 프레임에 값을 적용할 수 있습니다

일정한 동작으로 데이터 프레임을 수정하고자 할 때 편리하게 이용할 수 있는 기능입니다.

영상을 보며 apply()의 다양한 활용법을 알아보고, 실습 문제도 풀어보세요.


지시사항
데이터 프레임df에는 정수를 담고있는 Num 칼럼이 있습니다.

df 데이터 프레임에 함수를 이용하여 Num의 제곱수를 나타내는 칼럼인 Square 칼럼을 추가하고, 데이터프레임을 출력해봅시다.

Q1

값을 받으면 제곱을 해서 돌려주는 함수를 만들어 봅시다.

def square(x):
    return x**2

df["Square"] = df["Num"].apply(square)
Copy
apply로 칼럼에 함수를 적용해 봅시다.

Q2

함수 대신 람다 표현식으로도 적용하실 수 있습니다.

df["Square"] = df["Num"].apply(lambda x: x ** 2)

In [21]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.arange(5), columns=["Num"])
print(df, "\n")

# 값을 받으면 제곱을 해서 돌려주는 함수
def square(x):
    return x**2

# apply로 컬럼에 함수 적용
df["Square"] = df["Num"].apply(square)

# 람다 표현식으로도 적용하기
df["Square"] = df["Num"].apply(lambda x: x ** 2)

   Num
0    0
1    1
2    2
3    3
4    4

그룹으로 묶기

그룹으로 묶기

간단한 집계를 넘어서서 조건부로 집계하고 싶은 경우

In [25]:
df = pd.DataFrame({
    "key": ["A","B","C","A","B","C"],
    "data1":[1,2,3,1,2,3],
    "data2":np.random.randint(0,6,6),
})
print(df)
#   key  data1  data2
# 0   A      1      4
# 1   B      2      1
# 2   C      3      3
# 3   A      1      1
# 4   B      2      3
# 5   C      3      5
print()

# 키값이 같은 것 끼리 매칭만 됨
print(df.groupby("key"))
# <pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001746264D910>
print()

# 키를 기준으로 합계를 구함
print(df.groupby("key").sum())
#       data1  data2
# key              
# A        2      5
# B        4      4
# C        6      8
print()

# key와 data1을 기준으로 합침 
# data2의 값이 합쳐진다.
print(df.groupby(["key","data1"]).sum())
#           data2
# key data1       
# A   1          5 
# B   2          4
# C   3          8

  key  data1  data2
0   A      1      4
1   B      2      1
2   C      3      3
3   A      1      1
4   B      2      3
5   C      3      5

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000174628B86A0>

     data1  data2
key
A        2      5
B        4      4
C        6      8

           data2
key data1
A   1          5
B   2          4
C   3          8

aggregate

groupby를 통해서 집계를 한번에 계산하는 방법

In [26]:
print(df)
#    key  data1  data2
# 0   A      1      4
# 1   B      2      1
# 2   C      3      3
# 3   A      1      1
# 4   B      2      3
# 5   C      3      5
print()

# 키값으로 묶은 후
# aggregate 연산
# 첫번째 최소 , 중앙값 ,최대값
print(df.groupby("key").aggregate(['min', np.median, max]))
#     data1            data2           
#       min median max   min median max
# key                                  
# A       1      1   1     1    2.5   4
# B       2      2   2     1    2.0   3
# C       3      3   3     3    4.0   5
print()

# 키값으로 묶은 후
# aggregate 연산
# data1의 min값과
# data2의 sum값
print(df.groupby("key").aggregate({"data1":"min", "data2":np.sum}))
#       data1  data2
# key              
# A        1      5
# B        2      4
# C        3      8

  key  data1  data2
0   A      1      4
1   B      2      1
2   C      3      3
3   A      1      1
4   B      2      3
5   C      3      5

    data1            data2
      min median max   min median max
key
A       1      1   1     1    2.5   4
B       2      2   2     1    2.0   3
C       3      3   3     3    4.0   5

     data1  data2
key
A        1      5
B        2      4
C        3      8

filter

groupby를 통해서 그룹 속성을 기준으로 데이터 필터링

In [35]:
def filter_by_mean(x):
    return x['data2'].mean() > 3

print(df)
#    key  data1  data2
# 0   A      1      4
# 1   B      2      1
# 2   C      3      3
# 3   A      1      1
# 4   B      2      3
# 5   C      3      5
print()

print(df.groupby('key').mean())
#       data1  data2
# key              
# A        1    2.5
# B        2    2.0
# C        3    4.0
print()

print(df.groupby("key").filter(filter_by_mean))
#   key  data1  data2
# 2   C      3      3
# 5   C      3      5

  key  data1  data2
0   A      1      4
1   B      2      1
2   C      3      3
3   A      1      1
4   B      2      3
5   C      3      5

     data1  data2
key
A        1    2.5
B        2    2.0
C        3    4.0

  key  data1  data2
2   C      3      3
5   C      3      5

apply

groupby를 통해서 묶인 데이터에 함수 적용

In [37]:
print(df.groupby("key").apply(lambda x : x.max() - x.min()))

     data1  data2
key
A        0      3
B        0      2
C        0      2

get_group

groupby로 묶인 데이터에서 key값으로 데이터를 가져올 수 있다.

In [ ]:
df = pd.read_csv("./univ.csv")
# 대학교 데이터 셋 가정
# 시도명 학교명 


df.head()

# 시도 별로 묶고 충남의 데이터만 가져와라
df.groupby("시도").get_group("충남")

# 충남의 데이터 갯수는?
len(df.groupby("시도").get_group("충남"))

그룹으로 묶기
groupby() 함수를 이용하면 키 값을 기준으로 그룹으로 묶을 수 있습니다.

groupby() 함수의 사용 예시를 들자면, 시험 성적 데이터에서 각 반을 그룹으로 묶어 각 반의 평균 점수를 구할 수 있습니다.

‘그룹으로 묶는다’ 는 의미가 잘 와닿지 않으신가요?

영상을 보고 groupby함수의 사용법을 알아보고, 실습 문제를 풀어 제출해봅시다.


지시사항
Q1

데이터 프레임의 key 칼럼을 groupby함수로 묶고, key별로 data1과 data2 합계를 출력해보세요.

Q2

데이터 프레임의 key와 data1칼럼을 groupby함수로 묶고, key와 data1별로 data2의 합계를 출력해보세요.

In [ ]:
import numpy as np
import pandas as pd

df = pd.DataFrame({
    'key': ['A', 'B', 'C', 'A', 'B', 'C'],
    'data1': [1, 2, 3, 1, 2, 3],
    'data2': [4, 4, 6, 0, 6, 1]
})
print("DataFrame:")
print(df, "\n")

# groupby 함수를 이용해봅시다.
# key를 기준으로 묶어 합계를 구해 출력해보세요.
print(df.groupby("key").sum())

# key와 data1을 기준으로 묶어 합계를 구해 출력해보세요.
print(df.groupby(["key","data1"]).sum())

그룹으로 묶기(2)
aggregate() 함수를 이용하여 키값을 기준으로 그룹으로 묶은 결과의 요약 통계량을 구해봅시다.

aggregate() 함수의 결과값 또한 데이터프레임으로 반환되어 한 눈에 보기 편리합니다.

영상을 보며 aggregate() 함수의 사용법을 익히고 실습 문제를 풀어 제출해봅시다.


지시사항
aggregate()함수로 요약 통계량을 출력해보세요.

Q1

데이터 프레임을 key를 기준으로 묶고, key별 data1과 data2 각각의 최솟값과 중앙값, 최댓값을 출력해봅시다.

Q2

데이터 프레임을 key를 기준으로 묶고, key별 data1의 최솟값과 data2의 합계를 출력해봅시다.

Tip
agregate 메소드에 함수를 매개변수로 넣어줄 때,

df.groupby('key').aggregate([min, np.median, max])
Copy
min, max, mean, count 등의 특정 함수들은 문자열 형태로 넘겨주실 수 있습니다.

예)

df.groupby('key').aggregate(['min', np.median, 'max'])

In [38]:
import numpy as np
import pandas as pd

df = pd.DataFrame({
    'key': ['A', 'B', 'C', 'A', 'B', 'C'],
    'data1': [0, 1, 2, 3, 4, 5],
    'data2': [4, 4, 6, 0, 6, 1]
})
print("DataFrame:")
print(df, "\n")

# aggregate를 이용하여 요약 통계량을 산출해봅시다.
# 데이터 프레임을 'key' 칼럼으로 묶고, data1과 data2 각각의 최솟값, 중앙값, 최댓값을 출력하세요.
print(df.groupby('key').aggregate([min, np.median, max]))

# 데이터 프레임을 'key' 칼럼으로 묶고, data1의 최솟값, data2의 합계를 출력하세요.
print(df.groupby("key").aggregate({"data1":"min", "data2":np.sum}))

DataFrame:
  key  data1  data2
0   A      0      4
1   B      1      4
2   C      2      6
3   A      3      0
4   B      4      6
5   C      5      1

    data1            data2
      min median max   min median max
key
A       0    1.5   3     0    2.0   4
B       1    2.5   4     4    5.0   6
C       2    3.5   5     1    3.5   6
     data1  data2
key
A        0      4
B        1     10
C        2      7

그룹으로 묶기(3)
그룹으로 묶은 값에 filter() 함수와 apply() 함수를 적용하고, 설정한 조건으로 데이터 프레임에서 원하는 값만 추출할 수 있습니다.

영상을 보며 그룹핑한 데이터 프레임에 filter() 함수와 apply() 함수를 적용하는 방법을 알아보고, 실습 문제를 풀어보세요.


지시사항
Q1

filter 함수를 이용하여 key별로 그룹을 묶고, 그룹별 data2 평균이 3이 넘는 데이터만 출력해봅시다.

Q2

apply 함수와 람다식을 이용해서, key를 기준으로 묶은 그룹별 data1과 data2 변수의 최댓값에서 최솟값을 뺀 값을 출력해보세요.

In [ ]:
import numpy as np
import pandas as pd

df = pd.DataFrame({
    'key': ['A', 'B', 'C', 'A', 'B', 'C'],
    'data1': [0, 1, 2, 3, 4, 5],
    'data2': [4, 4, 6, 0, 6, 1]
})
print("DataFrame:")
print(df, "\n")

# groupby()로 묶은 데이터에 filter를 적용해봅시다.
# key별 data2의 평균이 3이 넘는 인덱스만 출력해봅시다.
def filter_by_mean(x):
    return x['data2'].mean() > 3

print("filtering : ")
print(df.groupby("key").filter(filter_by_mean))



# groupby()로 묶은 데이터에 apply도 적용해봅시다.
# 람다식을 이용해 최댓값에서 최솟값을 뺀 값을 적용해봅시다.

print("applying : ")
print(df.groupby("key").apply(lambda x : x.max() - x.min()))

MultiIndex & pivot_table

MultiIndex

인덱스를 계층적으로 만들 수 있다.

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    np.random.randn(4,2),
    index = [list("AABB"),[1,2,1,2]],
    columns=['data1',"data2"])

print(df)
#         data1     data2
# A 1  2.230673  0.221057
#   2 -0.858626  0.536208
# B 1  1.492670  0.031554
#   2  0.403012  0.210662

        data1     data2
A 1  2.230673  0.221057
  2 -0.858626  0.536208
B 1  1.492670  0.031554
  2  0.403012  0.210662

MultiIndex

열 인덱스도 계층적으로 만들 수 있다.

In [2]:
df = pd.DataFrame(
    np.random.randn(4,4),
    columns=[list("AABB"),list("1212")])
print(df)
#           A                   B          
#           1         2         1         2
# 0 -0.685540 -0.635519  0.879525 -0.525268
# 1  1.185161 -0.376338  0.602688  0.703866
# 2 -1.095317  1.284727  0.273242 -0.737770
# 3  1.289159  2.254178 -0.395402 -0.441139

          A                   B
          1         2         1         2
0 -0.685540 -0.635519  0.879525 -0.525268
1  1.185161 -0.376338  0.602688  0.703866
2 -1.095317  1.284727  0.273242 -0.737770
3  1.289159  2.254178 -0.395402 -0.441139

MultiIndex

다중 인덱스 컬럼의 경우 인덱싱은 계층적으로 한다
인덱스 탐색의 경우에는 loc, iloc를 사용가능하다

In [3]:
print(df["A"])
#           1         2
# 0 -0.685540 -0.635519
# 1  1.185161 -0.376338
# 2 -1.095317  1.284727
# 3  1.289159  2.254178

print(df["A"]["1"])
# 0   -0.685540
# 1    1.185161
# 2   -1.095317
# 3    1.289159
# Name: 1, dtype: float64

          1         2
0 -0.685540 -0.635519
1  1.185161 -0.376338
2 -1.095317  1.284727
3  1.289159  2.254178
0   -0.685540
1    1.185161
2   -1.095317
3    1.289159
Name: 1, dtype: float64

pivot_table

데이터에서 필요한 자료만 뽑아서 새롭게 요약,
분석 할 수 있는 기능 엑셀에서의 피봇 테이블과 같다

index는 행 인덱스로 들어갈 key
column에 열 인덱스로 라벨링될 값 
value에 분석할 데이터

In [11]:
df = pd.DataFrame(
    columns =["survived",
             "pclass",
             "sex",
             "age",
             "sibsp",
             "parch",
             "fare",
             "embarked",
             "class",
             "who"]
    )
df.loc[0] = [0,3,"male",22.0,1,0,7.2500,"S","Third","man"]
df.loc[1] = [1,1,"female",38.0,1,0,71.2800,"C","First","woman"]
df.loc[2] = [1,3,"female",26.0,0,0,7.9250,"S","Third","woman"]
df.loc[3] = [1,1,"female",35.0,1,0,53.1000,"S","First","woman"]
df.loc[4] = [0,3,"male",35.0,0,0,8.0500,"S","Third","man"]

print(df)

  survived pclass     sex   age sibsp parch    fare embarked  class    who
0        0      3    male  22.0     1     0   7.250        S  Third    man
1        1      1  female  38.0     1     0  71.280        C  First  woman
2        1      3  female  26.0     0     0   7.925        S  Third  woman
3        1      1  female  35.0     1     0  53.100        S  First  woman
4        0      3    male  35.0     0     0   8.050        S  Third    man

pivot_table

타이타닉 데이터에서 성별과 좌석별 생존률 구하기

In [ ]:
pt = df.pivot_table(
        index = "sex", 
        columns = "class",
        values = "survived",
        aggfunc = np.mean
    )
# 오류 남 사유 모르겠음

In [ ]:
# class  First   Second    Third
# sex
# -------------------------------
# female 0.968085 0.921053 0.500000
#   maie 0.368852 0.157407 0.135447

pivot_table

In [ ]:
df.pivot_table(
    index="월별",colunms="내역",values=["수입","지출"])

Multi Index & Pivot Table
인덱스를 계층적으로 만드는 방법 Multi Index에 대해 알아봅시다.

또한, 데이터에서 필요한 데이터만 뽑아서 새롭게 요약 분석할 수 있는 Pivot Table에 대해서도 알아봅시다.


지시사항
실행 버튼을 눌러 멀티 인덱스를 활용한 데이터 프레임을 출력해보세요.

인덱스가 A와 B, 1과 2로 나뉘어져 있는 경우에 출력되는 결과와 멀티 인덱스가 있는 테이블의 인덱싱 방법을 확인해보세요.

In [22]:
import numpy as np
import pandas as pd

df1 = pd.DataFrame(
    np.random.randn(4, 2), 
    index=[['A', 'A', 'B', 'B'], [1, 2, 1, 2]],
    columns=['data1', 'data2']
)
print("DataFrame1")
print(df1, "\n")

df2 = pd.DataFrame(
    np.random.randn(4, 4),
    columns=[["A", "A", "B", "B"], ["1", "2", "1", "2"]]
)
print("DataFrame2")
print(df2, "\n")

# 명시적 인덱싱을 활용한 df1의 인덱스 출력
print("df1.loc['A', 1]")
print(df1.loc['A', 1], "\n") 


# df2의 [A][1] 칼럼 출력
print('df2["A"]["1"]')
print(df2["A"]["1"], "\n")

DataFrame1
        data1     data2
A 1 -0.746049 -0.747254
  2 -0.121364  0.034640
B 1 -0.354136 -0.201706
  2  0.697230 -0.047208

DataFrame2
          A                   B
          1         2         1         2
0  0.335617  2.690572  0.248754  0.837763
1 -0.206843  0.783780  0.464458 -0.214835
2 -0.894297  1.820583 -0.125424  0.905515
3  0.311552  0.027370 -0.108191 -0.547677

df1.loc['A', 1]
data1   -0.746049
data2   -0.747254
Name: (A, 1), dtype: float64

df2["A"]["1"]
0    0.335617
1   -0.206843
2   -0.894297
3    0.311552
Name: 1, dtype: float64