SQLê³¼ í•¨ìˆ˜

ëª© ì°¨

01. COUNT

02. LIMIT

03. SUM & AVG

04. MAX & MIN

< í•¨ìˆ˜ >

1. ë°ì´í„° ê°’ì„ ê³„ì‚°í•˜ê±°ë‚˜ ì¡°ì‘ : í–‰ í•¨ìˆ˜

2. í–‰ì˜ ê·¸ë£¹ì„ ê³„ì‚°í•˜ê±°ë‚˜ ìš”ì•½ : ê·¸ë£¹ í•¨ìˆ˜

3. ì—´ì˜ ë°ì´í„° íƒ€ì…ì„ ë³€í™˜

01. COUNT

ë°ì´í„°ê°€ ëª‡ ê°œì¸ì§€ ê¶ê¸ˆí•˜ë‹¤ë©´?

ì—˜ë¦¬ìŠ¤ ë„ì„œê´€ì˜ ì‚¬ì„œì¸ ë„ë„ìƒˆëŠ” ë¬¸ë“ ìš°ë¦¬ ë„ì„œê´€ì˜ ì±…ì´
ëª¨ë‘ ëª‡ ê°œì¼ê¹Œ ê¶ê¸ˆí•´ì¡Œë‹¤.

ì±… ì •ë³´ë¥¼ ì €ì¥í•˜ëŠ” bookí…Œì´ë¸”ì—ì„œ 
ì „ì²´ ì±… ìˆ˜ë¥¼ ì¡°íšŒí•´ë³´ì.

ë°ì´í„°ì˜ ê°œìˆ˜ë¥¼ í™•ì¸í–ˆì„ ë•Œ

bookí…Œì´ë¸”
    id      title     author           publisher
    1       ì–´ë¦°ì™•ì   ìƒí…ì¥í˜ë¦¬         ì—˜ë¦¬ìŠ¤ ì¶œíŒ
    2       ëˆí‚¤í˜¸í…Œ   ë¯¸ê²”ë°ì„¸ë¥´ë°˜í…ŒìŠ¤    ì—˜ë¦¬ìŠ¤ ì¶œíŒ
    3       í–„ë¦¿      ìœŒë¦¬ì—„ì…°ìµìŠ¤í”¼ì–´    ì—˜ë¦¬ìŠ¤ ì¶œíŒ
    
    
ì¹´ìš´íŠ¸
  3

COUNT

ê²€ìƒ‰í•œ ê²°ê³¼ì˜ ë°ì´í„°ì˜ ê°œìˆ˜ë¥¼ ê°€ì ¸ì˜¤ëŠ” ë‚´ì¥í•¨ìˆ˜

NULLì¸ ë°ì´í„°ëŠ” ì œì™¸(ë°ì´í„°ê°€ ì—†ìŒ ë¹ˆ ê³µê°„)

ex) 1 2 0 3 -> count 4
ex) 1 2   3 -> count 3

COUNT ê¸°ë³¸ ë¬¸ë²•

Example
SELECT COUNT(id) FROM book;
ëª…ë ¹    ê²€ìƒ‰í•  ì»¬ëŸ¼

book í…Œì´ë¸” ì•ˆì— ìˆëŠ” idì»¬ëŸ¼ì˜ ê°œìˆ˜ë¥¼ ê²€ìƒ‰

- SELECT + COUNT( ì»¬ëŸ¼ ) FROM í…Œì´ë¸” ì´ë¦„;

COUNT ê¸°ë³¸ ë¬¸ë²•

Example
SELECT COUNT(*) FROM book;
ëª…ë ¹    ê²€ìƒ‰í•  ì»¬ëŸ¼

ê²€ìƒ‰í•  ë°ì´í„°ì— *ì„ ì…ë ¥í•˜ë©´ ëª¨ë“  ë°ì´í„° ê²€ìƒ‰
- COUNT(*) -> ëª¨ë“  ì»¬ëŸ¼ ë°ì´í„° ê°¯ìˆ˜

ë°ì´í„°ì˜ ìˆ«ì ì„¸ì–´ë³´ê¸° - COUNT 1
ë„ì„œê´€ì˜ ì „ì²´ ì±…ì˜ ìˆ˜ì™€ íšŒì› ìˆ˜ë¥¼ ì¡°íšŒí•´ ë´…ì‹œë‹¤.

í•˜ì§€ë§Œ SELECTë¥¼ í†µí•´ ì „ì²´ë¥¼ ì¶œë ¥í•˜ê³  ì„¸ì–´ë³´ëŠ” ê²ƒì€ ìœ„í—˜í•©ë‹ˆë‹¤. íŠ¹íˆ ê°œìˆ˜ê°€ ë§ë‹¤ë©´ ì¤‘ê°„ì— ì‹¤ìˆ˜í•  ê°€ëŠ¥ì„±ì´ ë†’ìŠµë‹ˆë‹¤.

ë”°ë¼ì„œ ì•ì„œ ë°°ìš´ COUNT í•¨ìˆ˜ë¥¼ ì´ìš©í•´ ì¡°íšŒí•˜ë„ë¡ í•©ì‹œë‹¤.


ì§€ì‹œì‚¬í•­
book í…Œì´ë¸”ì„ COUNTí•¨ìˆ˜ì™€ *ì„ ì´ìš©í•´ ì¡°íšŒí•´ ë´…ì‹œë‹¤.
user í…Œì´ë¸”ì„ COUNTí•¨ìˆ˜ì™€ *ì„ ì´ìš©í•´ ì¡°íšŒí•´ ë´…ì‹œë‹¤.

In [ ]:
'''
-- ì•„ë˜ì— bookí…Œì´ë¸”ì˜ ìë£Œì˜ ìˆ˜ì™€ userí…Œì´ë¸”ì˜ ìë£Œì˜ ìˆ˜ë¥¼ ì°¨ë¡€ëŒ€ë¡œ ì¡°íšŒí•´ ë´…ì‹œë‹¤.
SELECT * FROM user;
SELECT * FROM book;

SELECT COUNT(*) FROM user; -- 4
SELECT COUNT(*) FROM book; -- 5
'''

'''
+------+-------------+-----------------------+---------------+------------------+
| id   | name        | email                 | phone         | address          |
+------+-------------+-----------------------+---------------+------------------+
| 1000 | Elice       | elice@elice.com       | 010-1234-5678 | 101-23 CeileDong |
| 1001 | Cheshire    | cheshire@elice.com    | 010-8765-4321 | 101-24 CeileDong |
| 1002 | Dodo        | dodo@elice.com        | 010-1111-2222 | 100-11 CeileDong |
| 1003 | Caterpillar | caterpillar@elice.com | 010-1212-3434 | 100-12 CeileDong |
+------+-------------+-----------------------+---------------+------------------+
+------+------------------------------------------+------------------------------+-----------------------+---------------+
| id   | title                                    | author                       | publisher             | date_received |
+------+------------------------------------------+------------------------------+-----------------------+---------------+
| 1000 | Romeo and Juliet                         | William Shakespeare          | NULL                  | 2012-04-01    |
| 1001 | Don Quixote                              | Miguel de Cervantes Saavedra | NULL                  | 2015-03-31    |
| 1002 | The Little Prince                        | Antoine de Saint-Exupery     | NULL                  | 2018-12-21    |
| 1003 | Harry Potter and the Philosopher's Stone | Joanne Kathleen Rowling      | Bloomsbury Publishing | 2017-06-26    |
| 1004 | The Lord of the Rings                    | John Ronald Reuel Tolkien    | Allen & Unwin         | 2014-07-29    |
+------+------------------------------------------+------------------------------+-----------------------+---------------+
+----------+
| COUNT(*) |
+----------+
|        4 |
+----------+
+----------+
| COUNT(*) |
+----------+
|        5 |
+----------+
ì½”ë“œ ì‹¤í–‰ì´ ì™„ë£Œë˜ì—ˆìŠµë‹ˆë‹¤.
'''

ë°ì´í„°ì˜ ìˆ«ì ì„¸ì–´ë³´ê¸° - COUNT 2
ì§ì›ì˜ ì „ì²´ ìˆ˜ë¥¼ ê²€ìƒ‰í•´ë´…ì‹œë‹¤.

í•˜ì§€ë§Œ SELECTë¥¼ í†µí•´ ì „ì²´ë¥¼ ì¶œë ¥í•˜ê³  ì„¸ì–´ë³´ëŠ” ê²ƒì€ ìœ„í—˜í•©ë‹ˆë‹¤. íŠ¹íˆ ê°œìˆ˜ê°€ ë§ë‹¤ë©´ ì¤‘ê°„ì— ì‹¤ìˆ˜í•  ê°€ëŠ¥ì„±ì´ ë†’ìŠµë‹ˆë‹¤.

ë”°ë¼ì„œ ì•ì„œ ë°°ìš´ COUNT í•¨ìˆ˜ë¥¼ ì´ìš©í•´ ê²€ìƒ‰í•˜ë„ë¡ í•©ì‹œë‹¤.


ì§€ì‹œì‚¬í•­
employees í…Œì´ë¸”ì„ COUNTí•¨ìˆ˜ì™€ *ì„ ì´ìš©í•´ ê²€ìƒ‰í•´ë´…ì‹œë‹¤.

In [ ]:
'''
-- employeesí…Œì´ë¸”ì˜ ìë£Œì˜ ìˆ˜ë¥¼ ì¡°íšŒí•´ ë´…ì‹œë‹¤.
desc employees;
SELECT COUNT(*) FROM employees;
'''

'''
+-------------+---------------+------+-----+---------+-------+
| Field       | Type          | Null | Key | Default | Extra |
+-------------+---------------+------+-----+---------+-------+
| emp_no      | int(11)       | NO   | PRI | NULL    |       |
| birth_date  | date          | NO   |     | NULL    |       |
| first_name  | varchar(14)   | NO   |     | NULL    |       |
| last_name   | varchar(16)   | NO   |     | NULL    |       |
| gender      | enum('M','F') | NO   |     | NULL    |       |
| hire_date   | date          | NO   |     | NULL    |       |
| superior_no | int(11)       | YES  | MUL | NULL    |       |
+-------------+---------------+------+-----+---------+-------+
+----------+
| COUNT(*) |
+----------+
|       52 |
+----------+
'''

02. LIMIT

ë°ì´í„°ì˜ ì¼ë¶€ë§Œ ë³´ê³  ì‹¶ë‹¤ë©´?

ì—˜ë¦¬ìŠ¤ ë„ì„œê´€ì˜ ì‚¬ì„œ ë„ë„ìƒˆëŠ” bookí…Œì´ë¸”ì—ì„œ ëª¨ë“  ì±…ì„ ì¡°íšŒí–ˆë‹¤.
ê·¸ë¬ë”ë‹ˆ ìˆ˜ ë§ì€ ì±… ì •ë³´ê°€ ì¶œë ¥ë˜ì—ˆë‹¤.
ì •ë³´ê°€ ë„ˆë¬´ ë§ì•„ í—·ê°ˆë¦° ë„ë„ìƒˆëŠ” ì´ ì¤‘ 3ê¶Œë§Œ ë³´ê³  ì‹¶ì–´ì¡Œë‹¤.
ì–´ë–»ê²Œ 3ê¶Œë§Œ ì¶œë ¥í•  ìˆ˜ ìˆì„ê¹Œ?

ì±…ì„ 3ê¶Œë§Œ ì¡°íšŒí–ˆì„ ë•Œ

bookí…Œì´ë¸”
id title          author        publisher      
1  ì–´ë¦°ì™•ì        ìƒí…ì¥í˜ë¦¬      ì—˜ë¦¬ìŠ¤ ì¶œíŒ
2  ëˆí‚¤í˜¸í…Œ        ë¯¸ê²”ë°ì„¸ë¥´ë°˜í…ŒìŠ¤ ì—˜ë¦¬ìŠ¤ ì¶œíŒ
3  í–„ë¦¿           ìœŒë¦¬ì—„ì…°ìµìŠ¤í”¼ì–´ ì—˜ë¦¬ìŠ¤ ì¶œíŒ
4  ë¡œë¯¸ì˜¤ì™€ ì¤„ë¦¬ì—£  ìœŒë¦¬ì—„ì…°ìµìŠ¤í”¼ì–´ ì—˜ë¦¬ìŠ¤ ì¶œíŒ
5  í•´ë¦¬í¬í„°        ì¡°ì—” ì¼€ì´ ë¡¤ë§  ì—˜ë¦¬ìŠ¤ ì¶œíŒ



LIMIT3


id title          author        publisher
1  ì–´ë¦°ì™•ì        ìƒí…ì¥í˜ë¦¬      ì—˜ë¦¬ìŠ¤ ì¶œíŒ
2  ëˆí‚¤í˜¸í…Œ        ë¯¸ê²”ë°ì„¸ë¥´ë°˜í…ŒìŠ¤ ì—˜ë¦¬ìŠ¤ ì¶œíŒ
3  í–„ë¦¿           ìœŒë¦¬ì—„ì…°ìµìŠ¤í”¼ì–´ ì—˜ë¦¬ìŠ¤ ì¶œíŒ

LIMIT

í…Œì´ë¸”ì—ì„œ ì¶œë ¥í•˜ê³ ì í•˜ëŠ” ë°ì´í„°ì˜ ê°œìˆ˜ë¥¼ ì œí•œí•˜ëŠ” ëª…ë ¹

LIMIT ê¸°ë³¸ ë¬¸ë²•

Example
-- book í…Œì´ë¸”ì—ì„œ ë°ì´í„°ë¥¼ 5ê°œë§Œ ê°€ì ¸ì˜¤ê¸°
SELECT * FROM book LIMIT 5;
ëª…ë ¹                ì œí•œí• ìˆ«ì
-- 2ë²ˆì§¸ ë°ì´í„°ë¶€í„° 5ê°œë¥¼ ê°€ì ¸ì˜¤ê¸°
SELECT * FROM book LIMIT 1, 5;
ëª…ë ¹                ì œí•œí• ìˆ«ì


ì²« ë²ˆì§¸ ì»¬ëŸ¼ì˜ ì‹œì‘ì€ 0

ì¦‰, 'LIMIT 1, 5'ëŠ” 2ë²ˆì§¸ ì»¬ëŸ¼(í–‰)ë¶€í„° 5ê°œë¥¼ ê°€ì ¸ì˜¤ë¼ëŠ” ì˜ë¯¸

ë°ì´í„°ì—ì„œ ìƒë‹¨ ê°’ë§Œ ì¶œë ¥í•˜ê¸° - LIMIT 1
ì—˜ë¦¬ìŠ¤ ë„ì„œê´€ì— ì±…ì´ ëª‡ ê¶Œ ë” ì¶”ê°€ë¡œ ë“¤ì–´ì™”ìŠµë‹ˆë‹¤.

ì´ì œ ë„ì„œê´€ì—ëŠ” ì±…ì„ í•œ ë²ˆì— ì¡°íšŒí•˜ë©´ ì•Œì•„ë³¼ ìˆ˜ ì—†ì„ ì •ë„ë¡œ ë§ì•„ì¡ŒìŠµë‹ˆë‹¤.

í˜¼ë€ìŠ¤ëŸ¬ìš´ ì—˜ë¦¬ìŠ¤ë¥¼ ìœ„í•´ SELECTë¬¸ ë’¤ì— LIMITë¥¼ ë§ë¶™ì—¬ ì±… ì •ë³´ 5ê°œë§Œì„ ì¡°íšŒí•´ë³´ì„¸ìš”!


ì§€ì‹œì‚¬í•­
bookí…Œì´ë¸”ì—ì„œ LIMITë¥¼ ë§ë¶™ì—¬ ì±… ì •ë³´ 5ê°œë§Œì„ ì¡°íšŒí•´ë³´ì„¸ìš”.
ì¶œë ¥í•  ë•ŒëŠ” ëª¨ë“  ì»¬ëŸ¼ì„ ì¡°íšŒí•˜ë„ë¡ í•©ì‹œë‹¤.

In [ ]:
'''
-- bookí…Œì´ë¸”ì˜ ëª¨ë“  ì»¬ëŸ¼ì„ ì¡°íšŒí•´ ë´…ì‹œë‹¤. ë‹¨ 5ê¶Œë§Œ ì˜ë¼ì„œ ì¶œë ¥í•´ì•¼ í•©ë‹ˆë‹¤.
DESC book;


SELECT * FROM book LIMIT 5;
'''

'''
+---------------+-------------+------+-----+---------+-------+
| Field         | Type        | Null | Key | Default | Extra |
+---------------+-------------+------+-----+---------+-------+
| id            | varchar(32) | NO   | PRI | NULL    |       |
| title         | varchar(64) | NO   |     | NULL    |       |
| author        | varchar(16) | YES  |     | NULL    |       |
| publisher     | varchar(32) | YES  |     | NULL    |       |
| date_received | date        | YES  |     | NULL    |       |
+---------------+-------------+------+-----+---------+-------+
+------+------------------------------------------+------------------+-----------------------+---------------+
| id   | title                                    | author           | publisher             | date_received |
+------+------------------------------------------+------------------+-----------------------+---------------+
| 1000 | Romeo and Juliet                         | William Shakespe | NULL                  | 2012-04-01    |
| 1001 | Don Quixote                              | Miguel de Cervan | NULL                  | 2015-03-31    |
| 1002 | The Little Prince                        | Antoine de Saint | NULL                  | 2018-12-21    |
| 1003 | Harry Potter and the Philosopher's Stone | Joanne Kathleen  | Bloomsbury Publishing | 2017-06-26    |
| 1004 | The Lord of the Rings                    | John Ronald Reue | Allen & Unwin         | 2014-07-29    |
+------+------------------------------------------+------------------+-----------------------+---------------+
ì½”ë“œ ì‹¤í–‰ì´ ì™„ë£Œë˜ì—ˆìŠµë‹ˆë‹¤.
'''

ë°ì´í„°ì—ì„œ ìƒë‹¨ ê°’ë§Œ ì¶œë ¥í•˜ê¸° - LIMIT 2
salaries í…Œì´ë¸”ì—ëŠ” ì§ì›ë“¤ì˜ ì—°ë„ë³„ ì—°ë´‰ì´ ë“¤ì–´ìˆìŠµë‹ˆë‹¤.

íšŒì‚¬ê°€ ì˜¤ë˜ ìœ ì§€ë˜ë©´ì„œ ì—°ë´‰ì„ í•œ ë²ˆì— ì¡°íšŒí•˜ë©´ ì•Œì•„ë³¼ ìˆ˜ ì—†ì„ ì •ë„ë¡œ ë§ì•„ì¡ŒìŠµë‹ˆë‹¤.

í˜¼ë€ì„ ë°©ì§€í•˜ê¸° ìœ„í•´ SELECTë¬¸ ë’¤ì— LIMITë¥¼ ë§ë¶™ì—¬ ì—°ë´‰ ì •ë³´ 5ê°œë§Œì„ ê²€ìƒ‰í•´ë³´ì„¸ìš”!


ì§€ì‹œì‚¬í•­
salaries í…Œì´ë¸”ì—ì„œ SELECTë¬¸ ë’¤ì— LIMITë¥¼ ë§ë¶™ì—¬ ì—°ë´‰ ì •ë³´ 5ê°œë§Œì„ ê²€ìƒ‰í•´ë³´ì„¸ìš”.
ê²€ìƒ‰í•  ë•ŒëŠ” ëª¨ë“  ì»¬ëŸ¼ì„ ê²€ìƒ‰í•˜ë„ë¡ í•©ë‹ˆë‹¤.

In [ ]:
'''
-- salariesí…Œì´ë¸”ì˜ ëª¨ë“  ì»¬ëŸ¼ì„ ì¡°íšŒí•´ ë´…ì‹œë‹¤. ë‹¨ 5ê°œë§Œ ì˜ë¼ì„œ ì¶œë ¥í•´ì•¼ í•©ë‹ˆë‹¤.
desc salaries;

select * from salaries;

select * from salaries limit 5;
'''

'''
+-----------+---------+------+-----+---------+-------+
| Field     | Type    | Null | Key | Default | Extra |
+-----------+---------+------+-----+---------+-------+
| emp_no    | int(11) | NO   |     | NULL    |       |
| salary    | int(11) | NO   |     | NULL    |       |
| from_date | date    | NO   |     | NULL    |       |
| to_date   | date    | NO   |     | NULL    |       |
+-----------+---------+------+-----+---------+-------+
+--------+--------+------------+------------+
| emp_no | salary | from_date  | to_date    |
+--------+--------+------------+------------+
|  10001 |  62102 | 1987-06-26 | 1988-06-25 |
|  10001 |  66074 | 1988-06-25 | 1989-06-25 |
|  10001 |  66596 | 1989-06-25 | 1990-06-25 |
|  10001 |  66961 | 1990-06-25 | 1991-06-25 |
|  10001 |  71046 | 1991-06-25 | 1992-06-24 |
|  10001 |  74333 | 1992-06-24 | 1993-06-24 |
|  10001 |  76884 | 1995-06-24 | 1996-06-23 |
|  10001 |  80013 | 1996-06-23 | 1997-06-23 |
|  10001 |  81025 | 1997-06-23 | 1998-06-23 |
|  10001 |  81097 | 1998-06-23 | 1999-06-23 |
|  10001 |  84917 | 1999-06-23 | 2000-06-22 |
|  10002 |  65828 | 1996-08-03 | 1997-08-03 |
|  10002 |  65909 | 1997-08-03 | 1998-08-03 |
|  10002 |  67534 | 1998-08-03 | 1999-08-03 |
|  10002 |  69366 | 1999-08-03 | 2000-08-02 |
|  10002 |  71963 | 2000-08-02 | 2001-08-02 |
|  10002 |  72527 | 2001-08-02 | 9999-01-01 |
|  10003 |  40006 | 1995-12-03 | 1996-12-02 |
|  10003 |  43616 | 1996-12-02 | 1997-12-02 |
|  10003 |  43311 | 2001-12-01 | 9999-01-01 |
|  10004 |  40054 | 1986-12-01 | 1987-12-01 |
|  10004 |  42283 | 1987-12-01 | 1988-11-30 |
|  10004 |  42542 | 1988-11-30 | 1989-11-30 |
|  10004 |  46065 | 1989-11-30 | 1990-11-30 |
|  10004 |  58326 | 1994-11-29 | 1995-11-29 |
|  10004 |  60770 | 1995-11-29 | 1996-11-28 |
|  10004 |  62566 | 1996-11-28 | 1997-11-28 |
|  10004 |  64340 | 1997-11-28 | 1998-11-28 |
|  10004 |  67096 | 1998-11-28 | 1999-11-28 |
|  10004 |  69722 | 1999-11-28 | 2000-11-27 |
|  10004 |  70698 | 2000-11-27 | 2001-11-27 |
|  10004 |  74057 | 2001-11-27 | 9999-01-01 |
|  10005 |  78228 | 1989-09-12 | 1990-09-12 |
|  10005 |  82621 | 1990-09-12 | 1991-09-12 |
|  10005 |  88063 | 1996-09-10 | 1997-09-10 |
|  10005 |  89724 | 1997-09-10 | 1998-09-10 |
|  10005 |  90392 | 1998-09-10 | 1999-09-10 |
|  10005 |  90531 | 1999-09-10 | 2000-09-09 |
|  10005 |  91453 | 2000-09-09 | 2001-09-09 |
|  10005 |  94692 | 2001-09-09 | 9999-01-01 |
|  10006 |  40000 | 1990-08-05 | 1991-08-05 |
|  10006 |  42085 | 1991-08-05 | 1992-08-04 |
|  10006 |  42629 | 1992-08-04 | 1993-08-04 |
|  10006 |  45844 | 1993-08-04 | 1994-08-04 |
|  10006 |  47518 | 1994-08-04 | 1995-08-04 |
|  10006 |  47917 | 1995-08-04 | 1996-08-03 |
|  10006 |  52255 | 1996-08-03 | 1997-08-03 |
|  10006 |  53747 | 1997-08-03 | 1998-08-03 |
|  10007 |  62745 | 1991-02-10 | 1992-02-10 |
|  10007 |  63475 | 1992-02-10 | 1993-02-09 |
|  10007 |  63208 | 1993-02-09 | 1994-02-09 |
|  10007 |  64563 | 1994-02-09 | 1995-02-09 |
+--------+--------+------------+------------+
+--------+--------+------------+------------+
| emp_no | salary | from_date  | to_date    |
+--------+--------+------------+------------+
|  10001 |  62102 | 1987-06-26 | 1988-06-25 |
|  10001 |  66074 | 1988-06-25 | 1989-06-25 |
|  10001 |  66596 | 1989-06-25 | 1990-06-25 |
|  10001 |  66961 | 1990-06-25 | 1991-06-25 |
|  10001 |  71046 | 1991-06-25 | 1992-06-24 |
+--------+--------+------------+------------+
ì½”ë“œ ì‹¤í–‰ì´ ì™„ë£Œë˜ì—ˆìŠµë‹ˆë‹¤.
'''

03. SUM & AVG

SUM

ì§€ì •í•œ ì»¬ëŸ¼ë“¤ì˜ ê°’ì„ ëª¨ë‘ ë”í•˜ì—¬
ì´ì ì„ êµ¬í•´ì£¼ëŠ” ë‚´ì¥í•¨ìˆ˜

AVG

ì§€ì •í•œ ì»¬ëŸ¼ë“¤ì˜ í‰ê· ê°’ì„ êµ¬í•´ì£¼ëŠ” ë‚´ì¥í•¨ìˆ˜

í•™ìƒë“¤ì˜ ì´ì ì„ êµ¬í•˜ê³  ì‹¶ë‹¤ë©´?

ì—˜ë¦¬ìŠ¤ í† ë¼ ì„ ìƒë‹˜ì€ ì´ë²ˆ ì¤‘ê°„ê³ ì‚¬ì—ì„œ
í•™ìƒë“¤ì˜ ìˆ˜í•™ ì ìˆ˜ë¥¼ ëª¨ë‘ ë”í•œ ì´ì ì„ ì°¾ê³  ì‹¶ë‹¤.
ì ìˆ˜ë¥¼ ì¼ì¼ì´ ë³´ë©° ë”í•˜ê¸°ì—ëŠ” ê·€ì°®ì€ë°
ë°ì´í„°ë¥¼ ëª¨ë‘ ë”í•´ì„œ ì¶œë ¥í•˜ëŠ” ë°©ë²•ì€ ì—†ì„ê¹Œ?

ìˆ˜í•™ì ìˆ˜ì˜ ì´í•©ì„ êµ¬í–ˆì„ ë•Œ

gradeí…Œì´ë¸”
    name   korean    english   math
    ì—˜ë¦¬ìŠ¤   100       80       60
    ì²´ì…”     100       50       60
    ë„ë„ìƒˆ    90       90       100
    
SUM(math)
    220

SUM

ì§€ì •í•œ ì»¬ëŸ¼ë“¤ì˜ ê°’ì„ ëª¨ë‘ ë”í•˜ì—¬
ì´ì ì„ êµ¬í•´ì£¼ëŠ” ë‚´ì¥í•¨ìˆ˜

SUM ê¸°ë³¸ ë¬¸ë²•

Example
SELECT SUM(math) FROM grade;
ëª…ë ¹    ê²€ìƒ‰í•  ì»¬ëŸ¼


SUMì„ ì´ìš©í•´ ì›í•˜ëŠ” ë°ì´í„°ì˜ í•©ì„ êµ¬í•  ìˆ˜ ìˆë‹¤.

ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì˜¤ëŠëƒ? - SELECT
ì¡°ê±´ì´ ë˜ëŠëƒ?  - WHERE

SUM/COUNTë¥¼ ì‚¬ìš©í•˜ì§€ ì•Šê³  í‰ê·  êµ¬í•˜ê¸°

ì—˜ë¦¬ìŠ¤ í† ë¼ ì„ ìƒë‹˜ì€ ì´ë²ˆ ì¤‘ê°„ê³ ì‚¬ì—ì„œ í•™ìƒë“¤ì˜
ì ìˆ˜ë¥¼ ëª¨ë‘ ë”í•œ ì´ì ì„ êµ¬í•˜ëŠ”ë° ì„±ê³µí–ˆë‹¤.
ì´ì œ ë°˜ í‰ê· ì„ êµ¬í•˜ê³  ì‹¶ì€ë°
ì–´ë–»ê²Œ í‰ê· ì„ ì‰½ê²Œ êµ¬í•  ìˆ˜ ìˆì„ê¹Œ?

ê° ê³¼ëª©ì˜ í‰ê· ì„ êµ¬í–ˆì„ ë•Œ

gradeí…Œì´ë¸”
    name   korean    english   math
    ì—˜ë¦¬ìŠ¤   100       80       60
    ì²´ì…”     100       50       60
    ë„ë„ìƒˆ    90       90       100 
    
AVG

AVG(korean)   AVG(english)   AVG(math)   
96.6667       73.3333        73.3333

AVG

ì§€ì •í•œ ì»¬ëŸ¼ë“¤ì˜ í‰ê· ê°’ì„ êµ¬í•´ì£¼ëŠ” ë‚´ì¥í•¨ìˆ˜

AVG ê¸°ë³¸ ë¬¸ë²•

Example

SELECT AVG(korean), AVG(english), AVG(math) FROM grade;
ëª…ë ¹    -----------------------------------
                 í‰ê· ì„ êµ¬í•  ì»¬ëŸ¼
                 
- ì›í•˜ëŠ” ë°ì´í„°ì˜ í‰ê· ì„ êµ¬í•  ìˆ˜ ìˆë‹¤.

ë°ì´í„°ë“¤ì˜ í•© êµ¬í•˜ê¸° - SUM
salaries í…Œì´ë¸”ì—ì„œ ì§€ê¸ˆê¹Œì§€ ì§€ê¸‰ë˜ì—ˆë˜ ì—°ë´‰ì•¡(salary)ì— ëŒ€í•œ í•©ì„ ê³„ì‚°í•˜ë ¤ê³  í•©ë‹ˆë‹¤.

SUMí•¨ìˆ˜ë¥¼ ì´ìš©í•´ì„œ êµ¬í•´ë³´ì„¸ìš”.


ì§€ì‹œì‚¬í•­
salaries í…Œì´ë¸”ì—ì„œ salaryì˜ í•©ì„ êµ¬í•´ì„œ ê²€ìƒ‰í•´ë´…ì‹œë‹¤.

In [ ]:
'''
-- salaryí…Œì´ë¸”ì˜ ì—°ë´‰ì˜ í•©ì„ êµ¬í•´ë´…ì‹œë‹¤.
DESC salaries ;

select * from salaries;

select SUM(salary) from salaries;
'''

'''
+-----------+---------+------+-----+---------+-------+
| Field     | Type    | Null | Key | Default | Extra |
+-----------+---------+------+-----+---------+-------+
| emp_no    | int(11) | NO   |     | NULL    |       |
| salary    | int(11) | NO   |     | NULL    |       |
| from_date | date    | NO   |     | NULL    |       |
| to_date   | date    | NO   |     | NULL    |       |
+-----------+---------+------+-----+---------+-------+
+--------+--------+------------+------------+
| emp_no | salary | from_date  | to_date    |
+--------+--------+------------+------------+
|  10001 |  62102 | 1987-06-26 | 1988-06-25 |
|  10001 |  66074 | 1988-06-25 | 1989-06-25 |
|  10001 |  66596 | 1989-06-25 | 1990-06-25 |
|  10001 |  66961 | 1990-06-25 | 1991-06-25 |
|  10001 |  71046 | 1991-06-25 | 1992-06-24 |
|  10001 |  74333 | 1992-06-24 | 1993-06-24 |
|  10001 |  76884 | 1995-06-24 | 1996-06-23 |
|  10001 |  80013 | 1996-06-23 | 1997-06-23 |
|  10001 |  81025 | 1997-06-23 | 1998-06-23 |
|  10001 |  81097 | 1998-06-23 | 1999-06-23 |
|  10001 |  84917 | 1999-06-23 | 2000-06-22 |
|  10002 |  65828 | 1996-08-03 | 1997-08-03 |
|  10002 |  65909 | 1997-08-03 | 1998-08-03 |
|  10002 |  67534 | 1998-08-03 | 1999-08-03 |
|  10002 |  69366 | 1999-08-03 | 2000-08-02 |
|  10002 |  71963 | 2000-08-02 | 2001-08-02 |
|  10002 |  72527 | 2001-08-02 | 9999-01-01 |
|  10003 |  40006 | 1995-12-03 | 1996-12-02 |
|  10003 |  43616 | 1996-12-02 | 1997-12-02 |
|  10003 |  43311 | 2001-12-01 | 9999-01-01 |
|  10004 |  40054 | 1986-12-01 | 1987-12-01 |
|  10004 |  42283 | 1987-12-01 | 1988-11-30 |
|  10004 |  42542 | 1988-11-30 | 1989-11-30 |
|  10004 |  46065 | 1989-11-30 | 1990-11-30 |
|  10004 |  58326 | 1994-11-29 | 1995-11-29 |
|  10004 |  60770 | 1995-11-29 | 1996-11-28 |
|  10004 |  62566 | 1996-11-28 | 1997-11-28 |
|  10004 |  64340 | 1997-11-28 | 1998-11-28 |
|  10004 |  67096 | 1998-11-28 | 1999-11-28 |
|  10004 |  69722 | 1999-11-28 | 2000-11-27 |
|  10004 |  70698 | 2000-11-27 | 2001-11-27 |
|  10004 |  74057 | 2001-11-27 | 9999-01-01 |
|  10005 |  78228 | 1989-09-12 | 1990-09-12 |
|  10005 |  82621 | 1990-09-12 | 1991-09-12 |
|  10005 |  88063 | 1996-09-10 | 1997-09-10 |
|  10005 |  89724 | 1997-09-10 | 1998-09-10 |
|  10005 |  90392 | 1998-09-10 | 1999-09-10 |
|  10005 |  90531 | 1999-09-10 | 2000-09-09 |
|  10005 |  91453 | 2000-09-09 | 2001-09-09 |
|  10005 |  94692 | 2001-09-09 | 9999-01-01 |
|  10006 |  40000 | 1990-08-05 | 1991-08-05 |
|  10006 |  42085 | 1991-08-05 | 1992-08-04 |
|  10006 |  42629 | 1992-08-04 | 1993-08-04 |
|  10006 |  45844 | 1993-08-04 | 1994-08-04 |
|  10006 |  47518 | 1994-08-04 | 1995-08-04 |
|  10006 |  47917 | 1995-08-04 | 1996-08-03 |
|  10006 |  52255 | 1996-08-03 | 1997-08-03 |
|  10006 |  53747 | 1997-08-03 | 1998-08-03 |
|  10007 |  62745 | 1991-02-10 | 1992-02-10 |
|  10007 |  63475 | 1992-02-10 | 1993-02-09 |
|  10007 |  63208 | 1993-02-09 | 1994-02-09 |
|  10007 |  64563 | 1994-02-09 | 1995-02-09 |
+--------+--------+------------+------------+
+-------------+
| SUM(salary) |
+-------------+
|     3381317 |
+-------------+
ì½”ë“œ ì‹¤í–‰ì´ ì™„ë£Œë˜ì—ˆìŠµë‹ˆë‹¤.
'''

ë°ì´í„°ë“¤ì˜ í‰ê·  êµ¬í•˜ê¸° - AVG 1
grade í…Œì´ë¸” ì•ˆì—ëŠ” ì´ë²ˆ ì¤‘ê°„ê³ ì‚¬ì—ì„œ ë³¸ ì„±ì ì´ ë“¤ì–´ ìˆìŠµë‹ˆë‹¤.

ì´ í…Œì´ë¸”ì„ ì´ìš©í•´ ê³¼ëª©ë³„ í‰ê· ì ìˆ˜ë¥¼ êµ¬í•´ë´…ì‹œë‹¤.

ì´ë²ˆì—ë„ ì§ì ‘ ê³„ì‚°í•˜ëŠ” ê²ƒì€ ì–´ë ¤ìš°ë‹ˆ AVGí•¨ìˆ˜ë¥¼ ì´ìš©í•´ ë´…ì‹œë‹¤.


ì§€ì‹œì‚¬í•­
grade í…Œì´ë¸”ì—ì„œ ëª¨ë“  êµ­ì–´ ì ìˆ˜ì˜ í‰ê· , ëª¨ë“  ì˜ì–´ ì ìˆ˜ì˜ í‰ê· , ëª¨ë“  ìˆ˜í•™ ì ìˆ˜ì˜ í‰ê·  ì´ ì„¸ê°œì˜ ê°’ì„ êµ¬í•´ë´…ì‹œë‹¤.
êµ­ì–´, ì˜ì–´, ìˆ˜í•™ ìˆœì„œë¡œ í•˜ë‚˜ì˜ SELECTë¬¸ì„ ì´ìš©í•´ ì¡°íšŒí•©ë‹ˆë‹¤.

In [ ]:
'''
-- í•™ìƒë“¤ì˜ ì„±ì ì´ ë‹´ê²¨ìˆëŠ” í…Œì´ë¸”ì˜ êµ¬ì¡°ë¥¼ ì¡°íšŒí•©ë‹ˆë‹¤. ìˆ˜ì •í•˜ì‹¤ í•„ìš”ëŠ” ì—†ìŠµë‹ˆë‹¤.
DESC grade;

-- í•™ìƒë“¤ì˜ ì„±ì ì˜ í‰ê· ì„ ì¡°íšŒí•©ë‹ˆë‹¤.
select avg(korean), avg(english), avg(math) from grade;
'''

'''
+---------+-------------+------+-----+---------+-------+
| Field   | Type        | Null | Key | Default | Extra |
+---------+-------------+------+-----+---------+-------+
| id      | int(11)     | NO   | PRI | NULL    |       |
| name    | varchar(32) | NO   |     | NULL    |       |
| korean  | int(11)     | YES  |     | NULL    |       |
| english | int(11)     | YES  |     | NULL    |       |
| math    | int(11)     | YES  |     | NULL    |       |
+---------+-------------+------+-----+---------+-------+
+-------------+--------------+-----------+
| avg(korean) | avg(english) | avg(math) |
+-------------+--------------+-----------+
|     85.7143 |      77.1429 |   78.5714 |
+-------------+--------------+-----------+
ì½”ë“œ ì‹¤í–‰ì´ ì™„ë£Œë˜ì—ˆìŠµë‹ˆë‹¤.
'''

ë°ì´í„°ë“¤ì˜ í‰ê·  êµ¬í•˜ê¸° - AVG 2
salaries í…Œì´ë¸”ì—ëŠ” ì§€ê¸ˆê¹Œì§€ ì§ì›ë“¤ì—ê²Œ ì§€ê¸‰ë˜ì—ˆë˜ ì—°ë´‰ì•¡(salary)ì— ëŒ€í•œ ì •ë³´ê°€ ë“¤ì–´ ìˆìŠµë‹ˆë‹¤.

ì´ í…Œì´ë¸”ì„ ì´ìš©í•´ í‰ê·  ì—°ë´‰ì„ êµ¬í•´ë´…ì‹œë‹¤.

ì´ë²ˆì—ë„ ì§ì ‘ ê³„ì‚°í•˜ëŠ” ê²ƒì€ ì–´ë ¤ìš°ë‹ˆ AVG í•¨ìˆ˜ë¥¼ ì´ìš©í•´ ë´…ì‹œë‹¤.


ì§€ì‹œì‚¬í•­
salaries í…Œì´ë¸”ì—ì„œ salaryì˜ í‰ê· ì„ êµ¬í•´ì„œ ê²€ìƒ‰í•´ë´…ì‹œë‹¤.

In [ ]:
'''
-- salaryí…Œì´ë¸”ì˜ ì—°ë´‰ì˜ í‰ê· ì„ êµ¬í•´ë´…ì‹œë‹¤.

select avg(salary) from salaries;
'''

'''
+-------------+
| avg(salary) |
+-------------+
|  65025.3269 |
+-------------+
ì½”ë“œ ì‹¤í–‰ì´ ì™„ë£Œë˜ì—ˆìŠµë‹ˆë‹¤.

'''

04. MAX & MIN

ê°€ì¥ ë†’ì€ ì ìˆ˜ë¥¼ ì°¾ê³  ì‹¶ë‹¤ë©´?

ì—˜ë¦¬ìŠ¤ í† ë¼ ì„ ìƒë‹˜ì€ ì´ë²ˆ ì¤‘ê°„ê³ ì‚¬ì—ì„œ
êµ­ì–´ ì„±ì  1ë“±ì„ ì°¾ê³  ì‹¶ë‹¤.
grade í…Œì´ë¸”ì— ì €ì¥ëœ êµ­ì–´ ì ìˆ˜ ì¤‘ì—ì„œ
ê°€ì¥ ë†’ì€ ì ìˆ˜ê°€ ëª‡ ì ì¸ì§€ ì–´ë–»ê²Œ ì°¾ì„ ìˆ˜ ìˆì„ê¹Œ?

ê°€ì¥ ë†’ì€ êµ­ì–´ ì ìˆ˜ë¥¼ êµ¬í–ˆì„ ë•Œ

gradeí…Œì´ë¸”
name   korean   english  math
ì—˜ë¦¬ìŠ¤   100       80       60
ã€€ì²´ì…”   100       50       60
ë„ë„ìƒˆ    90       90      100

MAX(korean)
100

MAX

í…Œì´ë¸”ì— ì¡´ì¬í•˜ëŠ” ë°ì´í„°ì—ì„œ ìµœëŒ€ê°’ì„ ê°€ì ¸ì˜¤ëŠ” ë‚´ì¥í•¨ìˆ˜
(ìˆ«ìí˜• ë¿ë§Œ ì•„ë‹ˆë¼ ë¬¸ìí˜•ë„ ê°€ëŠ¥)

MAX ê¸°ë³¸ë¬¸ë²•

Example

SELECT MAX(korean) FROM grade;
ëª…ë ¹    ê²€ìƒ‰í•  ì»¬ëŸ¼    

ì›í•˜ëŠ” ë°ì´í„°ì˜ ìµœëŒ“ê°’ì„ êµ¬í•  ìˆ˜ ìˆë‹¤.

ê°€ì¥ ë‚®ì€ ì ìˆ˜ë¥¼ ì°¾ê³  ì‹¶ë‹¤ë©´?

ì´ë²ˆì—” ë°˜ëŒ€ë¡œ ì˜ì–´ ì ìˆ˜ ì¤‘ì—ì„œ
ê°€ì¥ ë‚®ê²Œ ë°›ì€ ì ìˆ˜ê°€ ëª‡ ì ì¸ì§€ ì°¾ê³  ì‹¶ë‹¤.
grade í…Œì´ë¸”ì— ì €ì¥ëœ ì˜ì–´ ì ìˆ˜ ì¤‘ì—ì„œ
ê°€ì¥ ë‚®ì€ ì ìˆ˜ê°€ ëª‡ ì ì¸ì§€ ì–´ë–»ê²Œ ì°¾ì„ ìˆ˜ ìˆì„ê¹Œ?

ê°€ì¥ ë‚®ì€ ì˜ì–´ ì ìˆ˜ë¥¼ êµ¬í–ˆì„ ë•Œ

gradeí…Œì´ë¸”
name   korean   english  math
ì—˜ë¦¬ìŠ¤   100       80       60
ã€€ì²´ì…”   100       50       60
ë„ë„ìƒˆ    90       90      100

MIN(english)
50

MIN

í…Œì´ë¸”ì— ì¡´ì¬í•˜ëŠ” ë°ì´í„°ì—ì„œ ìµœì†Ÿê°’ì„ ê°€ì ¸ì˜¤ëŠ” í•¨ìˆ˜
(ìˆ«ìí˜•ë¿ë§Œ ì•„ë‹ˆë¼ ë¬¸ìí˜•ë„ ê°€ëŠ¥)

MIN ê¸°ë³¸ë¬¸ë²•

Example

SELECT MIN(english) FROM grade;
ëª…ë ¹    ê²€ìƒ‰í•  ì»¬ëŸ¼

ì›í•˜ëŠ” ë°ì´í„°ì˜ ìµœì†Ÿê°’ì„ êµ¬í•  ìˆ˜ ìˆë‹¤.

ë°ì´í„°ì—ì„œ ìµœëŒ€ê°’ ì°¾ê¸° - MAX 1
ì´ë²ˆ êµ­ì–´ì‹œí—˜ì€ ì•„ì£¼ ì–´ë ¤ì› ìŠµë‹ˆë‹¤

ê·¸ë˜ì„œ ì—˜ë¦¬ìŠ¤ëŠ” 100ì ì„ ë§ì€ ì¹œêµ¬ê°€ ì—†ì„ ê±°ë¼ ìƒê°í–ˆìŠµë‹ˆë‹¤.

ê·¸ ìƒê°ì´ ë§ì•˜ëŠ”ì§€ í™•ì¸í•˜ê¸° ìœ„í•´ êµ­ì–´ì‹œí—˜ì—ì„œ ê°€ì¥ ë†’ì€ ì ìˆ˜ê°€ ëª‡ ì ì´ì—ˆëŠ”ì§€ ì¡°íšŒí•´ ë´…ì‹œë‹¤.

SELECTë¬¸ì— MAXí•¨ìˆ˜ë¥¼ ì´ìš©í•´ ì¡°íšŒí•˜ë©´ ë©ë‹ˆë‹¤.


ì§€ì‹œì‚¬í•­
êµ­ì–´ì‹œí—˜ì—ì„œ ê°€ì¥ ë†’ì€ ì ìˆ˜ê°€ ëª‡ ì ì´ì—ˆëŠ”ì§€ studentí…Œì´ë¸”ì—ì„œ ì¡°íšŒí•´ë³´ì„¸ìš”.
studentí…Œì´ë¸”ì˜ ê° ì»¬ëŸ¼ì€ ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤.

In [ ]:
'''
-- í•™ìƒë“¤ì˜ ì„±ì ì´ ë‹´ê²¨ìˆëŠ” í…Œì´ë¸”ì˜ êµ¬ì¡°ë¥¼ ì¡°íšŒí•©ë‹ˆë‹¤. ìˆ˜ì •í•˜ì‹¤ í•„ìš”ëŠ” ì—†ìŠµë‹ˆë‹¤.
DESC student;

-- ê°€ì¥ ë†’ì€ êµ­ì–´ì„±ì ì„ ì¡°íšŒí•©ë‹ˆë‹¤.
SELECT MAX(korean) from student;
'''
# 
'''
+---------+-------------+------+-----+---------+-------+
| Field   | Type        | Null | Key | Default | Extra |
+---------+-------------+------+-----+---------+-------+
| name    | varchar(32) | NO   | PRI | NULL    |       |
| korean  | int(11)     | YES  |     | NULL    |       |
| english | int(11)     | YES  |     | NULL    |       |
| math    | int(11)     | YES  |     | NULL    |       |
+---------+-------------+------+-----+---------+-------+
+-------------+
| MAX(korean) |
+-------------+
|         100 |
+-------------+
'''

ë°ì´í„°ì—ì„œ ìµœëŒ€ê°’ ì°¾ê¸° - MAX 2
ê°€ì¥ ë§ì€ ì—°ë´‰ì•¡ì´ ì–¼ë§ˆì¸ì§€ ê²€ìƒ‰í•´ë´…ì‹œë‹¤.

SELECTë¬¸ì— MAXí•¨ìˆ˜ë¥¼ ì´ìš©í•´ ê²€ìƒ‰í•˜ë©´ ë©ë‹ˆë‹¤.


ì§€ì‹œì‚¬í•­
salariesí…Œì´ë¸”ì—ì„œ MAXí•¨ìˆ˜ë¥¼ ì´ìš©í•´ ê°€ì¥ ë§ì€ ì—°ë´‰ì•¡(salary)ì„ êµ¬í•´ë´…ì‹œë‹¤.

In [ ]:
'''
-- ê°€ì¥ ë§ì€ ì—°ë´‰ì•¡ì„ êµ¬í•´ë´…ì‹œë‹¤.
desc salaries;
select max(salary) from salaries;
'''

'''
+-----------+---------+------+-----+---------+-------+
| Field     | Type    | Null | Key | Default | Extra |
+-----------+---------+------+-----+---------+-------+
| emp_no    | int(11) | NO   |     | NULL    |       |
| salary    | int(11) | NO   |     | NULL    |       |
| from_date | date    | NO   |     | NULL    |       |
| to_date   | date    | NO   |     | NULL    |       |
+-----------+---------+------+-----+---------+-------+
+-------------+
| max(salary) |
+-------------+
|       94692 |
+-------------+
ì½”ë“œ ì‹¤í–‰ì´ ì™„ë£Œë˜ì—ˆìŠµë‹ˆë‹¤.
'''

ë°ì´í„°ì—ì„œ ìµœì†Œê°’ ì°¾ê¸° - MIN
ì´ë²ˆì—” ë°˜ëŒ€ë¡œ ê°€ì¥ ì ì€ ì—°ë´‰ì•¡ì´ ì–¼ë§ˆì¸ì§€ ì¡°íšŒí•´ ë´…ì‹œë‹¤.

SELECTë¬¸ì— MINí•¨ìˆ˜ë¥¼ ì´ìš©í•´ ê²€ìƒ‰í•˜ë©´ ë©ë‹ˆë‹¤.


ì§€ì‹œì‚¬í•­
salariesí…Œì´ë¸”ì—ì„œ MINí•¨ìˆ˜ë¥¼ ì´ìš©í•´ ê°€ì¥ ì ì€ ì—°ë´‰ì•¡(salary)ì„ êµ¬í•´ë´…ì‹œë‹¤.

In [ ]:
'''
-- ê°€ì¥ ì ì€ ì—°ë´‰ì•¡ì„ êµ¬í•´ë´…ì‹œë‹¤.
select min(salary) from salaries;
'''
'''
+-------------+
| min(salary) |
+-------------+
|       40000 |
+-------------+
ì½”ë“œ ì‹¤í–‰ì´ ì™„ë£Œë˜ì—ˆìŠµë‹ˆë‹¤.
'''

SQLê³¼ í•¨ìˆ˜
3ì¥ì„ ë§ˆì¹œ ì—¬ëŸ¬ë¶„! ì˜¤ëŠ˜ë„ ìˆ˜ê³ í•˜ì…¨ì–´ìš” ğŸ¤“
ì—¬ëŸ¬ í•¨ìˆ˜ë¥¼ ë°°ìš´ ë§Œí¼ í—·ê°ˆë¦¬ê¸° ì‰½ê² ì£ ?
ì§€ê¸ˆ ë°”ë¡œ ë³µìŠµ ì‹œì‘í•´ ë´…ì‹œë‹¤~



1. COUNT
COUNT: ê²€ìƒ‰í•œ ë°ì´í„°ì˜ ê°œìˆ˜ë¥¼ ê°€ì ¸ì˜¤ëŠ” ë‚´ì¥í•¨ìˆ˜ (NULLì¸ ë°ì´í„°ëŠ” ì œì™¸)

Point I

SELECT COUNT(id) FROM book;
book í…Œì´ë¸” ì•ˆì— ìˆëŠ” id ì»¬ëŸ¼ì˜ ê°œìˆ˜ë¥¼ ê²€ìƒ‰
Point II

SELECT COUNT(*) FROM book;
ê²€ìƒ‰í•  í…Œì´í„°ì— *ì„ ì…ë ¥í•˜ë©´ ëª¨ë“  ë°ì´í„° ê²€ìƒ‰


2. LIMIT
LIMIT: í…Œì´ë¸”ì—ì„œ ì¶œë ¥í•˜ê³ ì í•˜ëŠ” ë°ì´í„°ì˜ ê°œìˆ˜ë¥¼ ì œí•œí•˜ëŠ” ëª…ë ¹ì–´

Point I

SELECT * FROM book  LIMIT 5; --ì œí•œí•  ìˆ«ì
book í…Œì´ë¸”ì—ì„œ ë°ì´í„°ë¥¼ 5ê°œë§Œ ê°€ì ¸ì˜¤ê¸°
Point II

SELECT * FROM book LIMIT 1, 5;
ì²« ë²ˆì§¸ í–‰ì˜ ì‹œì‘ì€ 0
LIMIT 1, 5ëŠ” 2ë²ˆì§¸ ë°ì´í„°ë¶€í„° 5ê°œë¥¼ ê°€ì ¸ì˜¤ë¼ëŠ” ì˜ë¯¸


3. SUM & AVG
Point I
SUM: ì§€ì •í•œ ì»¬ëŸ¼ë“¤ì˜ ê°’ì˜ ì´í•©ì„ êµ¬í•´ì£¼ëŠ” ë‚´ì¥í•¨ìˆ˜

SELECT SUM(math) FROM grade;
Point II
AVG: ì§€ì •í•œ ì»¬ëŸ¼ë“¤ì˜ í‰ê· ê°’ì„ êµ¬í•´ì£¼ëŠ” ë‚´ì¥í•¨ìˆ˜

SELECT AVG(korean), AVG(english), AVG(math) FROM grade;


4. MAX & MIN
Point I
MAX: í…Œì´ë¸”ì— ì¡´ì¬í•˜ëŠ” ë°ì´í„°ì—ì„œ ìµœëŒ“ê°’ì„ ê°€ì ¸ì˜¤ëŠ” ë‚´ì¥í•¨ìˆ˜ (ìˆ«ìí˜• ë¿ë§Œ ì•„ë‹ˆë¼ ë¬¸ìí˜•ë„ ê°€ëŠ¥)

SELECT MAX(korean) FROM grade;
Point II
MIN: í…Œì´ë¸”ì— ì¡´ì¬í•˜ëŠ” ë°ì´í„°ì—ì„œ ìµœì†Ÿê°’ì„ ê°€ì ¸ì˜¤ëŠ” ë‚´ì¥í•¨ìˆ˜ (ìˆ«ìí˜• ë¿ë§Œ ì•„ë‹ˆë¼ ë¬¸ìí˜•ë„ ê°€ëŠ¥)

SELECT MIN(english) FROM grade;