목 차

01.동작하는 방식에 따른 서브쿼리 분류

02.반환되는 데이터 형태에 따른 서브쿼리 분류

03.스칼라 서브쿼리

04.뷰

01.동작하는 방식에 따른 서브쿼리 분류

서브쿼리 분류

서브쿼리에 
메인쿼리의 컬럼이 포함되는지에 따라 구분

1.연관 서브쿼리
  (Correlated Subquery)

2.비연관 서브쿼리
  (Un-Correlated Subquery)

연관 서브쿼리

메인 쿼리의 컬럼이 서브쿼리에 포함되며,
메인쿼리의 컬럼은 서브쿼리에 특정 조건으로 사용된다.

연관 서브쿼리

본인이 속한 부서의 평균 급여보다 높은 급여를 받는 직원들을 출력한다.

코드
SELECT ID, DEPARTMENT_ID, NAME, SALARY
FROM EMPLOYEE AS A
WHERE SALARY >
    (SELECT AVG(SALARY)
     FROM EMLOYEE AS B
     WHERE B.DEPARTMENT_ID = A.DEPARTMENT_ID);


EMPLOYEE 
ID            DEPARTMENT_ID     NAME       SALARY
1000                1           ELICE      12000
1001                2           JESSICA     9000
1002                3           STEVE       7500
1003                1           LINDA       5500
1004                2           DAVID       4400
1005                1           ROBERT      3200

DEPARTMENT_ID   AVG(SALARY)
      1          6900
      2          6700
      3          7500

결과
ID            DEPARTMENT_ID     NAME       SALARY
1000                 1          ELICE      12000
1001                 2          JESSICA     9000

비연관 서브쿼리

메인쿼리 컬럼이 서브쿼리에 포함되지 않으며,
주로 메인쿼리에 특정한 값을 제공할 때 사용된다

비연관 서브쿼리

ELICE가 속한 부서의 평균 급여를 출력한다.

코드
SELECT AVG(SALARY)
FROM EMPLOYEE
WHERE DEPARTMENT_ID = (
    SELECT DEPARTMENT_ID
    FROM EMPLOYEE
    WHERE NAME ='ELICE');
    
서브쿼리 값
DEPARTMENT_ID
     1
     
EMPLOYEE
ID            DEPARTMENT_ID     NAME       SALARY
1000                1           ELICE      12000
1001                2           JESSICA     9000
1002                3           STEVE       7500
1003                1           LINDA       5500
1004                2           DAVID       4400
1005                1           ROBERT      3200

AVG_SALARY
 6900

동작하는 방식에 따른 서브쿼리 분류 - 연관 서브쿼리
EMPLOYEE 테이블에는 직원 ID, 관리자 ID, 급여 정보가 담겨 있습니다.

직원들 중에서 자신의 관리자보다 급여가 높거나 같은 직원에 대해서 알아보고자 합니다. EMPLOYEE 테이블에는 직원에 대해 관리자 ID 정보만 있기 때문에, 연관 서브쿼리를 통해 직원의 관리자 급여정보를 추출해야 합니다.

연관 서브쿼리를 이용하여, 자신의 관리자보다 급여가 높거나 같은 직원 ID를 조회하는 쿼리를 작성해 봅시다.

지시사항
직원의 관리자 급여를 추출하는 서브쿼리를 WHERE문 조건에 응용하고 연관 서브쿼리 개념을 이용하여, 직원의 급여가 직원의 관리자 급여보다 높거나 같은 직원 ID(employee_id) 를 조회해 봅시다.

Tip!
결과에 대해 ORDER BY 를 이용하여 직원 ID를 기준으로 오름차순 정렬을 해주세요.

In [ ]:
'''
-- 아래는 EMPLOYEE 테이블에 대한 구조를 보여줍니다. 테이블을 수정하실 필요는 없습니다.
DESC EMPLOYEE;

SELECT * FROM EMPLOYEE;
-- 자신의 관리자의 급여보다 높거나 같은 급여를 가진 직원의 ID를 출력하는 쿼리를 작성해봅시다.

SELECT A.employee_id
FROM EMPLOYEE  A
WHERE A.salary >= (
    SELECT salary
    FROM EMPLOYEE  B
    WHERE A.manager_id = B.employee_id)
ORDER BY employee_id ASC;
'''

'''
+-------------+---------+------+-----+---------+-------+
| Field       | Type    | Null | Key | Default | Extra |
+-------------+---------+------+-----+---------+-------+
| employee_id | int(11) | NO   | PRI | NULL    |       |
| manager_id  | int(11) | YES  |     | NULL    |       |
| salary      | int(11) | NO   |     | NULL    |       |
+-------------+---------+------+-----+---------+-------+
+-------------+------------+--------+
| employee_id | manager_id | salary |
+-------------+------------+--------+
|       10000 |       NULL |   9000 |
|       10001 |       NULL |   8500 |
|       10002 |      10000 |   9000 |
|       10003 |      10002 |   7000 |
|       10004 |      10001 |   9500 |
|       10005 |      10003 |   7500 |
|       10006 |      10003 |   5000 |
+-------------+------------+--------+
+-------------+
| employee_id |
+-------------+
|       10002 |
|       10004 |
|       10005 |
+-------------+
'''

동작하는 방식에 따른 서브쿼리 분류 - 비연관 서브쿼리
EMPLOYEE 테이블에는 직원 ID, 관리자 ID, 급여 정보가 담겨 있습니다.

급여가 8,000미만인 직원을 관리하는 관리자의 ID와 급여를 출력하고자 합니다. EMPLOYEE 테이블에는 관리자의 급여정보가 없기 때문에, 비연관 서브쿼리를 통해 급여가 8,000미만인 직원의 관리자 ID를 조회하고, 해당 ID에 대해 직원 ID와 급여정보를 조회해봅시다.

비연관 서브쿼리를 이용하여, 급여가 8,000 미만인 직원의 관리자 ID와 급여를 출력하는 쿼리를 작성하세요.

지시사항
급여가 8,000 미만인 직원의 관리자 ID 를 추출하는 서브쿼리를 WHERE문 조건에 응용하고 비연관 서브쿼리 개념을 이용하여, 급여가 8,000 미만인 직원의 관리자 ID(employee_id)와 급여(salary) 를 조회해 봅시다.

Tip!
결과에 대해 ORDER BY 를 이용하여 직원 ID를 기준으로 오름차순 정렬을 해주세요.

In [ ]:
'''
-- 아래는 EMPLOYEE 테이블에 대한 구조를 보여줍니다. 테이블을 수정하실 필요는 없습니다.
DESC EMPLOYEE;
SELECT * FROM EMPLOYEE;
-- 급여가 8000미만인 직원의 관리자 아이디와 급여를 출력하는 쿼리를 작성하세요.
SELECT employee_id , salary
FROM EMPLOYEE
WHERE employee_id IN (
    SELECT manager_id 
    FROM EMPLOYEE
    WHERE salary < 8000
)
ORDER BY employee_id ASC;
'''

'''
+-------------+---------+------+-----+---------+-------+
| Field       | Type    | Null | Key | Default | Extra |
+-------------+---------+------+-----+---------+-------+
| employee_id | int(11) | NO   | PRI | NULL    |       |
| manager_id  | int(11) | YES  |     | NULL    |       |
| salary      | int(11) | NO   |     | NULL    |       |
+-------------+---------+------+-----+---------+-------+
+-------------+------------+--------+
| employee_id | manager_id | salary |
+-------------+------------+--------+
|       10000 |       NULL |   9000 |
|       10001 |       NULL |   8500 |
|       10002 |      10000 |   9000 |
|       10003 |      10002 |   7000 |
|       10004 |      10001 |   9500 |
|       10005 |      10003 |   7500 |
|       10006 |      10003 |   5000 |
+-------------+------------+--------+
+-------------+--------+
| employee_id | salary |
+-------------+--------+
|       10002 |   9000 |
|       10003 |   7000 |
+-------------+--------+
'''

[이론] 반환되는 데이터 형태에 따른 서브쿼리 분류 - 단일 행 서브쿼리

02.반환되는 데이터 형태에 따른 서브쿼리 분류

서브쿼리 분류

1. 단일 행 서브쿼리(Single Row Subquery)

2. 다중 행 서브쿼리(Multi Row Subquery)                    단일 컬럼
---------------------------------------------------
3. 다중 컬럼 서브쿼리(Multi Column Subquery)

단일 행 서브쿼리

서브쿼리의 결과가 한 개의 행을 반환하며,
단일 행 비교 연산자( =, >, <, <=, >=)와 같이 사용된다.

단일 행 서브쿼리

ELICE가 속한 부서의 직원들을 출력한다.

코드
SELECT ID, NAME, SALARY
FROM EMPLOYEE
WHERE DEPARTMENT_ID = (
    SELECT DEPARTMENT_ID
    FROM EMPLOYEE
    WHERE NAME='ELICE');
    
서브쿼리
DEPARTMENT_ID        하나만 반환되기 때문에 :  단일 행 서브쿼리
     1
     
EMPLOYEE 
ID            DEPARTMENT_ID     NAME       SALARY
1000                1           ELICE      12000
1001                2           JESSICA     9000
1002                3           STEVE       7500
1003                1           LINDA       5500
1004                2           DAVID       4400
1005                1           ROBERT      3200

결과
ID            DEPARTMENT_ID     NAME       SALARY
1000                1           ELICE      12000
1003                1           LINDA       5500
1005                1           ROBERT      3200

반환되는 데이터 형태에 따른 서브쿼리 분류 - 단일 행 서브쿼리
REQUEST 테이블에는 요청 ID와 요청상태 정보가 담겨있습니다. 또한 REQUEST_DTL테이블에는 요청 상세 ID, 요청 ID, 요청 이름, 요청 내용 등의 정보가 담겨 있습니다.

요청 상태가 실패(FAILED)인 요청의 상세 정보를 알고자 합니다. 이때, REQUEST 테이블에서 요청상태 값이 실패(FAILED)인 요청 ID가 1개이기 때문에 단일 행 서브쿼리 개념을 이용하여 해당 요청의 상세정보를 조회해 봅시다.

REQUEST 테이블에 있는 요청상태 값이 실패(FAILED)인 요청 ID를 얻어서 그 요청에 대한 상세정보를 알아보는 쿼리를 작성해봅시다.

지시사항
WHERE문을 이용하여, REQUEST 테이블에서 요청상태가 FAILED인 데이터의 요청 ID(request_id)를 출력하는 쿼리를 작성해봅시다.

1번에서 조회한 쿼리를 서브쿼리로 이용하여, REQUEST_DTL 테이블에서 해당 요청 ID에 대한 상세정보(요청 상세 ID(request_dtl_id), 요청 ID(request_id), 요청 이름(request_name), 요청 내용(request_content))를 출력하는 쿼리를 작성해봅시다.

Tip!
데이터 조회순서는 지시사항에서 언급하고 있는 순서대로 정확히 작성하세요.

In [ ]:
'''
-- 아래는 REQUEST, REQUEST_DTL 테이블에 대한 구조를 보여줍니다. 테이블을 수정하실 필요는 없습니다.
DESC REQUEST;
DESC REQUEST_DTL;

SELECT * FROM REQUEST;
SELECT * FROM REQUEST_DTL;
-- 1. 요청상태가 FAILED인 요청 데이터를 조회하는 쿼리를 작성해보세요.
SELECT request_id
FROM REQUEST
WHERE request_status ='FAILED';

-- 2. 위에서 작성한 쿼리를 서브쿼리로 이용하여 REQUEST_DTL 테이블에서 요청 상세를 조회하는 쿼리를 작성해보세요.
SELECT request_dtl_id, request_id, request_name, request_content
FROM REQUEST_DTL
WHERE request_id = (
    SELECT request_id
    FROM REQUEST
    WHERE request_status ='FAILED'
)
ORDER BY request_id ASC;


'''

'''
+----------------+-------------+------+-----+---------+-------+
| Field          | Type        | Null | Key | Default | Extra |
+----------------+-------------+------+-----+---------+-------+
| request_id     | int(11)     | NO   | PRI | NULL    |       |
| request_status | varchar(10) | NO   |     | NULL    |       |
+----------------+-------------+------+-----+---------+-------+
+-----------------+--------------+------+-----+---------+-------+
| Field           | Type         | Null | Key | Default | Extra |
+-----------------+--------------+------+-----+---------+-------+
| request_dtl_id  | int(11)      | NO   | PRI | NULL    |       |
| request_id      | int(11)      | NO   |     | NULL    |       |
| request_name    | varchar(50)  | NO   |     | NULL    |       |
| request_content | varchar(300) | YES  |     | NULL    |       |
+-----------------+--------------+------+-----+---------+-------+
+------------+----------------+
| request_id | request_status |
+------------+----------------+
|      10001 | SUCCESS        |
|      10002 | FAILED         |
|      10003 | SUCCESS        |
|      10004 | SUCCESS        |
+------------+----------------+
+----------------+------------+--------------+-----------------+
| request_dtl_id | request_id | request_name | request_content |
+----------------+------------+--------------+-----------------+
|          21548 |      10001 | FOR_TEST     | NULL            |
|          21567 |      10002 | GET          | FOR GET         |
|          22211 |      10003 | POST         | DATA INPUT      |
|          34527 |      10004 | DB           | DATA INPUT      |
|          36788 |      10005 | HELLO        | NULL            |
+----------------+------------+--------------+-----------------+
+------------+
| request_id |
+------------+
|      10002 |
+------------+
+----------------+------------+--------------+-----------------+
| request_dtl_id | request_id | request_name | request_content |
+----------------+------------+--------------+-----------------+
|          21567 |      10002 | GET          | FOR GET         |
+----------------+------------+--------------+-----------------+
'''

[이론] 반환되는 데이터의 형태에 따른 서브쿼리 분류 - 다중 행 서브쿼리

다중 행 서브쿼리

서브쿼리의 결과가 두 개 이상 행을 반환할 수 있으며,
다중 행 비교 연산자(IN, ALL, ANY, EXISTS)와 같이 사용된다.

다중 행 서브쿼리

- 특징       설명
  IN        서브쿼리 결과에 존재하는 값들 중 하나와 일치해야 한다 
  EXISTS    서브쿼리 결과 값이 존재하는지 여부를 확인한다
  ALL       서브쿼리 결과에 존재하는 모든 값들에 대해 조건을 만족해야 한다
  ANY       서브쿼리 결과에 존재하는 값들 중 조건을 만족하는 것이 하나 이상 존재해야 한다

다중 행 서브쿼리 - IN

영업 또는 개발 팀에 속하는 직원들을 출력한다.


EMPLOYEE 
ID            DEPARTMENT_ID     NAME       SALARY
1000                1           ELICE      12000
1001                2           JESSICA     9000
1002                3           STEVE       7500
1003                1           LINDA       5500
1004                2           DAVID       4400
1005                1           ROBERT      3200

DEPARTMENT
ID       NAME
1        개발
2        품질
3        영업

코드
SELECT NAME
FROM EMPLOYEE
WHERE DEPARTMENT_ID IN (
    SELECT ID
    FROM DEPARTMENT
    WHERE NAME='품질' OR NAME='영업');

서브쿼리 
DEPARTMENT_ID
     2
     3
     
결과
NAME
JESSICA
STEVE
DAVID

다중 행 서브쿼리 - EXISTS

급여가 10000을 넘는 직원이 존재하는 부서에
소속된 모든 직원들을 출력한다

EMPLOYEE
ID           DEPARTMENT_ID      NAME        SALARY
1000               1            ELICE       12000
1001               2            JESSICA      9000
1002               3            STEVE        7500
1003               1            LINDA        5500
1004               2            DAVID        4400
1005               1            ROBERT       3200


코드
SELECT NAME
FROM EMPLOYEE A
WHERE EXISTS (
    SELECT ID
    FROM EMPLOYEE B
    WHERE B.SALARY > 10000 AND
    A.DEPARTMENT_ID = B.DEPARTMENT_ID);
     
    
결과
NAME
ELICE
LINDA
ROBERT

다중 행 서브쿼리 - ALL

개발 팀 소속 모든 직원들 급여보다 급여가 큰 직원들을 출력한다

EMPLOYEE 
ID            DEPARTMENT_ID     NAME       SALARY
1000                1           ELICE      12000
1001                2           JESSICA     9000
1002                3           STEVE       7500
1003                1           LINDA       5500
1004                2           DAVID       4400
1005                1           ROBERT      3200

DEPARTMENT
ID       NAME
1        개발
2        품질
3        영업


코드
SELECT NAME
FROM EMPLOYEE
WHERE SALARY >= ALL(
    SELECT SALARY
    FROM EMPLOYEE
    WHERE DEPARTMENT_ID = 1);
    
서브쿼리
SALARY
12000
 5500         ALL이기 때문에 3가지 조건 모두 만족 하는 ELICE만 출력됨
 3200
 
 결과
 NAME
 ELICE

다중 행 서브쿼리 - ANY

개발팀 소속 임의의 직원들 급여보다 급여가 큰 직원들을 출력한다

EMPLOYEE 
ID            DEPARTMENT_ID     NAME       SALARY
1000                1           ELICE      12000
1001                2           JESSICA     9000
1002                3           STEVE       7500
1003                1           LINDA       5500
1004                2           DAVID       4400
1005                1           ROBERT      3200

DEPARTMENT
ID       NAME
1        개발
2        품질
3        영업

코드
SELECT NAME
FROM EMPLOYEE
WHERE SALARY >= ANY(
    SELECT SALARY
    FROM EMPLOYEE
    WHERE DEPARTMENT_ID = 1);
    

서브쿼리
SALARY
12000
 5500         ANY이기 때문에 가장 작은 값이상이라면 무조건 통과된다
 3200
 
결과
NAME
ELICE
JESSICA
STEVE
LINDA
DAVID
ROBERT