Pandas

Pandas
구조화된 데이터를 
효과적으로 처리하고 저장할 수 있는 파이썬 라이브러리.
Array 계산에 특화된 numpy를 기반으로 만들어져서 다양한 기능들을 제공한다.

Series
Series : numpy array가 보강된 형태 Data와 Index를 가지고 있다.

In [1]:
import pandas as pd

data = pd.Series([1,2,3,4])

print(data)
# 인덱스 데이터
# 0    1
# 1    2
# 2    3
# 3    4
# dtype: int64 
# 데이터 타입

0    1
1    2
2    3
3    4
dtype: int64

Series
인덱스를 가지고 있고 인덱스로 접근 가능하다.

In [3]:
import pandas as pd

data = pd.Series([1,2,3,4], index = ['a','b','c','d'])
print(data['b']) # 2

print(data)
# 인덱스 데이터
# a    1
# b    2
# c    3
# d    4
# dtype: int64

2
a    1
b    2
c    3
d    4
dtype: int64

Series
딕셔너리로 만들 수 있다.

In [3]:
import pandas as pd

# 딕셔너리 생성
population_dict = {
    'korea': 5180,
    'japan': 12718,
    'china': 141500,
    'usa':32676
}

population = pd.Series(population_dict)
print(population)
#  key = index value = data
# korea      5180
# japan     12718
# chian    141500
# usa       32676
# dtype: int64

print(population.values)
# numpy array로 나옴
# [  5180  12718 141500  32676]

print(population.keys())
# Index(['korea', 'japan', 'chian', 'usa'], dtype='object')

korea      5180
japan     12718
china    141500
usa       32676
dtype: int64
[  5180  12718 141500  32676]
Index(['korea', 'japan', 'china', 'usa'], dtype='object')

Series 데이터
Series 데이터란 Numpy array가 보강된 형태로, Data와 index를 가지고 있는 데이터 형식입니다.

주어진 예시는 Series 데이터를 만드는 방법입니다.

이번 실습에서는 딕셔너리를 이용해서 인덱스와 값을 지정하여 Series 데이터를 직접 만들어봅시다.

딕셔너리의 값은 다음과 같습니다.

예시
korea : 5180
japan : 12718
china : 141500
usa : 32676
Copy

지시사항
딕셔너리를 이용하여 국가별 인구 수 데이터를 시리즈로 만들어 country라는 변수에 저장해주세요.

그 다음 country 변수를 출력해주세요.

Tip!
pandas의 Series 객체를 만들기 위해, ‘값’과 ‘인덱스’ 매개변수를 각각 넣어주는 방법도 있고,

딕셔너리를 매개변수로 넣어주는 방법도 있습니다

In [4]:
import numpy as np
import pandas as pd

# 예시) 시리즈 데이터를 만드는 방법.
series = pd.Series([1,2,3,4], index = ['a', 'b', 'c', 'd'], name="Title")
print(series, "\n")


# 국가별 인구 수 시리즈 데이터를 딕셔너리를 사용하여 만들어보세요.

# 딕셔너리 생성
population = {
    'korea' : 5180,
    'japan' : 12718,
    'china' : 141500,
    'usa' : 32676
}

country = pd.Series(population)
print(country)

a    1
b    2
c    3
d    4
Name: Title, dtype: int64

korea      5180
japan     12718
china    141500
usa       32676
dtype: int64

DataFrame
여러 개의 Series가 모여서 행과 열을 이룬 데이터

In [5]:
import pandas as pd

# 딕셔너리 생성
gdp_dict = {
    'korea': 169320000,
    'japan': 516700000,
    'china': 1409250000,
    'usa': 2041280000,
}
# Series
gdp = pd.Series(gdp_dict)
print(gdp)
# korea     169320000
# japan     516700000
# china    1409250000
# usa      2041280000
# dtype: int64

# 딕셔너리 생성
population_dict = {
    'korea': 5180,
    'japan': 12718,
    'china': 141500,
    'usa':32676
}
population = pd.Series(population_dict)
print(population)
# korea      5180
# japan     12718
# chian    141500
# usa       32676
# dtype: int64

# DataFrame
country = pd.DataFrame({
    'population' : population,
    'gdp': gdp
})
print(country)

# 키(index) #
#        population         gdp
# korea        5180   169320000
# japan       12718   516700000
# china      141500  1409250000
# usa         32676  2041280000

korea     169320000
japan     516700000
china    1409250000
usa      2041280000
dtype: int64
korea      5180
japan     12718
china    141500
usa       32676
dtype: int64
       population         gdp
korea        5180   169320000
japan       12718   516700000
china      141500  1409250000
usa         32676  2041280000

DataFrame
딕셔너리로 만들 수 있다.

In [6]:
country.index

Index(['korea', 'japan', 'china', 'usa'], dtype='object')

In [7]:
country.columns

Index(['population', 'gdp'], dtype='object')

In [8]:
country['gdp']

korea     169320000
japan     516700000
china    1409250000
usa      2041280000
Name: gdp, dtype: int64

In [9]:
type(country['gdp'])

pandas.core.series.Series

DataFrame
Seires도 numpy array처럼 연산자를 쓸 수 있다.

In [13]:
gdp_per_capita = country['gdp'] / country['population']

country['gdp per capita'] = gdp_per_capita
print(country['gdp per capita'])
# korea    32687.258687
# japan    40627.457147
# china     9959.363958
# usa      62470.314604
# Name: gdp per capita, dtype: float64

print(country)
#        population       gdp    gdp per capita
# korea        5180   169320000    32687.258687
# japan       12718   516700000    40627.457147
# china      141500  1409250000     9959.363958
# usa         32676  2041280000    62470.314604

0    32687.258687
1    40627.457147
2     9959.363958
3    62470.314604
Name: gdp per capita, dtype: float64
  Unnamed: 0  population         gdp  gdp per capita
0      korea        5180   169320000    32687.258687
1      japan       12718   516700000    40627.457147
2      china      141500  1409250000     9959.363958
3        usa       32676  2041280000    62470.314604

저장과 불러오기
만든 데이터 프레임을 저장할 수 있다.

In [19]:
# 저장하기
country.to_csv("./pandas02country.csv",encoding="utf-8")
# comma seperate values
country.to_excel("./pandas02country.xlsx",encoding="utf-8")

# 읽어오기
country = pd.read_csv("./pandas02country.csv")
country = pd.read_excel("./pandas02country.xlsx")
# 데이터 프레임 형태로 읽어온다.
print(country)
print(type(country))
# <class 'pandas.core.frame.DataFrame'>

   Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  Unnamed: 0.1.1.1  \
0           0             0               0                 0
1           1             1               1                 1
2           2             2               2                 2
3           3             3               3                 3

   Unnamed: 0.1.1.1.1  Unnamed: 0.1.1.1.1.1 Unnamed: 0.1.1.1.1.1.1  \
0                   0                     0                  korea
1                   1                     1                  japan
2                   2                     2                  china
3                   3                     3                    usa

   population         gdp  gdp per capita
0        5180   169320000    32687.258687
1       12718   516700000    40627.457147
2      141500  1409250000     9959.363958
3       32676  2041280000    62470.314604
<class 'pandas.core.frame.DataFrame'>

DataFrame
시리즈 데이터는 하나의 컬럼 값으로 이루어진 반면 데이터 프레임은 여러 개의 컬럼 값을 가질 수 있습니다.

이번 실습에서는 여러 개의 시리즈 데이터를 이용하여 데이터 프레임을 만드는 법을 배워봅니다.

오른쪽 예제에 있는 국가별 GDP 시리즈 데이터와, 국가별 인구 시리즈 데이터를 이용하여 GDP와 인구 데이터를 모두 나타내는 데이터 프레임을 만들어 보세요!


지시사항
Q1.

국가별 인구를 나타내는 시리즈 데이터인 population과 국가별 GDP를 나타내는 시리즈 데이터인 gdp가 있습니다.

두 시리즈 데이터로 country라는 데이터 프레임을 만드세요. 반드시 population, gdp의 순서로 만들어주셔야 합니다.

Q2.

country의 두 컬럼을 이용하여 새로운 컬럼을 만들고자 합니다.

1인당 GDP 를 나타내는 새로운 컬럼인 gdp per capita를 데이터 프레임에 추가해보세요.

1인당 GDP는 gdp와 population을 나누어 얻을 수 있습니다.

완성한 데이터 프레임을 출력해보세요!

Tip!
데이터 프레임 country의 인덱스, 컬럼도 확인해보세요!

country.index
country.columns

In [27]:
import numpy as np
import pandas as pd

# 두 개의 시리즈 데이터가 있습니다.
print("Population series data:")
population_dict = {
    'korea': 5180,
    'japan': 12718,
    'china': 141500,
    'usa': 32676
}
population = pd.Series(population_dict)
print(population, "\n")

print("GDP series data:")
gdp_dict = {
    'korea': 169320000,
    'japan': 516700000,
    'china': 1409250000,
    'usa': 2041280000,
}
gdp = pd.Series(gdp_dict)
print(gdp, "\n")


# 이곳에서 2개의 시리즈 값이 들어간 데이터프레임을 생성합니다.
print("Country DataFrame")
country = pd.DataFrame({
    "population" : population,
    "gdp" : gdp,
}) 


# 데이터 프레임에 gdp per capita 칼럼을 추가하고 출력합니다.
gdp_per_capita = country["gdp"] / country["population"]
country['gdp per capita'] = gdp_per_capita
print(country)
# 데이터 프레임을 만들었다면, index와 column도 각각 확인해보세요.
print(country.index)
print(country.columns)

Population series data:
korea      5180
japan     12718
china    141500
usa       32676
dtype: int64

GDP series data:
korea     169320000
japan     516700000
china    1409250000
usa      2041280000
dtype: int64

Country DataFrame
       population         gdp  gdp per capita
korea        5180   169320000    32687.258687
japan       12718   516700000    40627.457147
china      141500  1409250000     9959.363958
usa         32676  2041280000    62470.314604
Index(['korea', 'japan', 'china', 'usa'], dtype='object')
Index(['population', 'gdp', 'gdp per capita'], dtype='object')

Indexing & Slicing

Indexing & Slicing
loc : 명시적인 인덱스를 참조하는 인덱싱 / 슬라이싱

In [29]:
print(country)
#        population         gdp  gdp per capita
# korea        5180   169320000    32687.258687
# japan       12718   516700000    40627.457147
# china      141500  1409250000     9959.363958
# usa         32676  2041280000    62470.314604

# 인덱싱
print(country.loc["china"])
# population        1.415000e+05 
# gdp               1.409250e+09 # 과학적 표기법 e+09 x10^9
# gdp per capita    9.959364e+03
# Name: china, dtype: float64

# 슬라이싱
print(country.loc["korea":"japan",:"population"])
# korea에서 japan까지 population포함 값까지만 
#        population
# korea        5180
# japan       12718

       population         gdp  gdp per capita
korea        5180   169320000    32687.258687
japan       12718   516700000    40627.457147
china      141500  1409250000     9959.363958
usa         32676  2041280000    62470.314604
population        1.415000e+05
gdp               1.409250e+09
gdp per capita    9.959364e+03
Name: china, dtype: float64
       population
korea        5180
japan       12718

Indexing / Slicing
iloc : 파이썬 스타일 정수 인덱스 인덱싱 / 슬라이싱

In [32]:
print(country)

#                0               1            2
#            population         gdp  gdp per capita
# 0  korea        5180   169320000    32687.258687
# 1  japan       12718   516700000    40627.457147
# 2  china      141500  1409250000     9959.363958
# 3  usa         32676  2041280000    62470.314604


print(country.iloc[0])
# 0번째 인덱스 population
# 0번째 인덱스 korea
# population        5.180000e+03
# gdp               1.693200e+08
# gdp per capita    3.268726e+04
# Name: korea, dtype: float64

#                axis = 0 , axis =1 
print(country.iloc[1:3,:2])
# 1부터 2까지 japan부터 china
# 0:2 -> 0 1 
#        population         gdp
# japan       12718   516700000
# china      141500  1409250000

# ix [] <- 명시적 암묵적 혼합 사용 지금은 지원 중단됨

       population         gdp  gdp per capita
korea        5180   169320000    32687.258687
japan       12718   516700000    40627.457147
china      141500  1409250000     9959.363958
usa         32676  2041280000    62470.314604
population        5.180000e+03
gdp               1.693200e+08
gdp per capita    3.268726e+04
Name: korea, dtype: float64
       population         gdp
japan       12718   516700000
china      141500  1409250000

DataFrame 새 데이터 추가 / 수정
리스트로 추가하는 방법과 딕셔너리로 추가하는 방법

In [34]:
dataframe = pd.DataFrame(columns=["이름","나이","주소"])
print(dataframe)
# Empty DataFrame
# Columns: [이름, 나이, 주소]
# Index: []
print("------------------------------------")

dataframe.loc[0] = ["임원균","26","서울"]
print(dataframe)
#     이름  나이  주소
# 0  임원균  26  서울
print("------------------------------------")

dataframe.loc[1] = {'이름':'철수','나이':'25','주소':'인천'}
print(dataframe)
#     이름  나이  주소
# 0  임원균  26  서울
# 1   철수  25  인천
print("------------------------------------")

dataframe.loc[1,'이름'] = "영희"
print(dataframe)
#    이름  나이  주소
# 0  임원균  26  서울
# 1   영희  25  인천

Empty DataFrame
Columns: [이름, 나이, 주소]
Index: []
------------------------------------
    이름  나이  주소
0  임원균  26  서울
------------------------------------
    이름  나이  주소
0  임원균  26  서울
1   철수  25  인천
------------------------------------
    이름  나이  주소
0  임원균  26  서울
1   영희  25  인천

DataFrame 새 컬럼 추가
새로운 컬럼 추가

In [36]:
import numpy as np
dataframe["전화번호"] = np.nan # Not a Number 통상적 비어있는 데이터
print(dataframe)
#     이름  나이  주소  전화번호
# 0  임원균  26  서울   NaN
# 1   영희  25  인천   NaN
print("------------------------------------")

dataframe.loc[0,"전화번호"] = "01012341234"
print(dataframe)
#     이름  나이  주소         전화번호
# 0  임원균  26  서울  01012341234
# 1   영희  25  인천          NaN

print(len(dataframe)) # 2

    이름  나이  주소  전화번호
0  임원균  26  서울   NaN
1   영희  25  인천   NaN
------------------------------------
    이름  나이  주소         전화번호
0  임원균  26  서울  01012341234
1   영희  25  인천          NaN
2

컬럼 선택하기
컬럼이름이 하나만 있다면 Series
리스트로 들어가 있다면 DataFrame

In [38]:
print(dataframe["이름"])
# 0    임원균
# 1     영희
# Name: 이름, dtype: object

print(dataframe[["이름","주소","나이"]])
#     이름  주소  나이
# 0  임원균  서울  26
# 1   영희  인천  25

0    임원균
1     영희
Name: 이름, dtype: object
    이름  주소  나이
0  임원균  서울  26
1   영희  인천  25

Indexing & Slicing
데이터 프레임의 값을 참조하기 위해 사용하는 인덱싱과 슬라이싱에는 두 가지 방법이 있습니다.

데이터 프레임의 인덱스의 이름으로 직접 참조하거나, 기존의 파이썬에서 배열의 인덱싱을 하는 방법 모두 사용할 수 있습니다.

이번 실습에서는 명시적인 인덱스를 참조하는 인덱싱과 파이썬 스타일 정수 인덱싱의 차이와 사용 방법을 배워봅시다.


지시사항
Q1.

명시적 인덱싱을 사용하여 데이터 프레임에서 “china” 인덱스를 출력해보세요.

country.loc['china']
Copy
Q2.

정수형 인덱싱을 사용하여 데이터 프레임에서 1번째 인덱스부터 3번째 인덱스까지의 값들을 출력해보세요.

country.iloc[1:4]
Copy
Tip!
pandas의 데이터 프레임을 만들 때 csv 파일을 이용하여 만들 수도 있습니다.

country = pd.read_csv("./data/country.csv")
Copy
위 코드는 country.csv 파일을 이용하여 데이터 프레임을 만드는 코드입니다.

In [ ]:
import numpy as np
import pandas as pd

# 첫번째 컬럼을 인덱스로 country.csv 파일 읽어오기.
print("Country DataFrame")
country = pd.read_csv("./data/country.csv", index_col=0)
print(country, "\n")

# 명시적 인덱싱을 사용하여 데이터프레임의 "china" 인덱스를 출력해봅시다.
print(country.loc["china"])


# 정수 인덱싱을 사용하여 데이터프레임의 1번째부터 3번째 인덱스를 출력해봅시다.
print(country.iloc[1:4])

Pandas연산과 함수

누락된 데이터 체크
튜토리얼에서 보는 데이터와 달리 현실의 데이터는
누락되어 있는 형태가 많다

In [44]:
# 비어있으면 True
print(dataframe.isnull())
# Nan / None -> True

# 자료가 있으면 True
print(dataframe.notnull())
# Nan / None -> False

# 비어있는 로우 제거하고 사용
print(dataframe.dropna())
#     이름  나이  주소         전화번호
# 0  임원균  26  서울  01012341234

# 비어 있는 데이터 채워넣기
dataframe["전화번호"] = dataframe["전화번호"].fillna("전화번호 없음")
#     이름  나이  주소         전화번호
# 0  임원균  26  서울      01012341234
# 1   영희  25  인천      전화번호 없음

      이름     나이     주소   전화번호
0  False  False  False  False
1  False  False  False  False
     이름    나이    주소  전화번호
0  True  True  True  True
1  True  True  True  True
    이름  나이  주소         전화번호
0  임원균  26  서울  01012341234
1   영희  25  인천      전화번호 없음

Series 연산
numpy array에서 사용했던 연산자들을 활용할 수 있다.

In [49]:
A = pd.Series([2,4,6], index = [0,1,2])
B = pd.Series([1,3,5], index = [1,2,3])
A + B
# 0    NaN  B의 인덱스 0이 없기떄문에 NaM
# 1    5.0
# 2    9.0
# 3    NaN A의 인덱스 3이 없기 때문에 NaN
# dtype: float64

A.add(B, fill_value = 0)
# 0    2.0
# 1    5.0
# 2    9.0
# 3    5.0
# dtype: float64

print(A)
# 0    2
# 1    4
# 2    6
# dtype: int64

0    2
1    4
2    6
dtype: int64

DataFrame 연산
add(+), sub(-), mul(*), div(/)

In [59]:
A = pd.DataFrame(np.random.randint(0,10, (2,2)), 
                 columns =list("AB"))

B = pd.DataFrame(np.random.randint(0,10, (3,3)), 
                 columns =list("BAC"))
print(A)
#    A  B
# 0  4  7
# 1  5  7

print(B)
#    B  A  C
# 0  4  3  8
# 1  7  3  9
# 2  8  8  7

print(A+B)
#       A    B   C
# 0  10.0  3.0 NaN
# 1  13.0  3.0 NaN
# 2   NaN  NaN NaN

A.add(B, fill_value = 0)
#      A      B     C
# 0  10.0   13.0   5.0
# 1  13.0   12.0   7.0
# 2  5.0     7.0   1.0

print(A)
#    A  B
# 0  3  5
# 1  8  5

   A  B
0  2  2
1  6  6
   B  A  C
0  4  3  8
1  7  3  9
2  8  8  7
     A     B   C
0  5.0   6.0 NaN
1  9.0  13.0 NaN
2  NaN   NaN NaN
   A  B
0  2  2
1  6  6

집계함수
numpy array에서 사용했던 sum, mean 등을
활용할 수 있다

In [62]:
data = {
    'A': [i+5 for i in range(3)],
    'B': [i**2for i in range(3)]
}
df = pd.DataFrame(data)
print(df)
#    A  B
# 0  5  0
# 1  6  1
# 2  7  4

print(df['A'].sum())
# 18
print(df.sum())
# A   18
# B    5
# dtype: int64
print(df.mean())
# A    6.000000
# B    1.666667
# dtype: float64

   A  B
0  5  0
1  6  1
2  7  4
18
A    18
B     5
dtype: int64
A    6.000000
B    1.666667
dtype: float64

pandas 연산과 함수
pandas의 데이터 형식은 다양한 연산을 지원합니다.

영상을 보고 누락된 데이터 처리, 시리즈와 데이터 프레임의 연산과 집계 함수에 대해서 알아봅시다.

그리고 pandas의 데이터 프레임에 여러가지 연산을 활용하여 적용해보세요!


지시사항
오른쪽 예제 코드에서 만든 데이터프레임 A와 B를 덧셈 연산을 진행하려고 합니다.

A와 B의 덧셈 결과를 출력해보세요.

Tip!
+ 연산 이외에도 여러가지 연산과 집계 함수가 있으니 직접 활용해보세요!

In [ ]:
import numpy as np
import pandas as pd


print("A: ")
A = pd.DataFrame(np.random.randint(0, 10, (2, 2)), columns=['A', 'B'])      #칼럼이 A, B입니다.
print(A, "\n")


print("B: ")
B = pd.DataFrame(np.random.randint(0, 10, (3, 3)), columns=['B', 'A', 'C'])     #칼럼이 B, A, C입니다.
print(B, "\n")


# 아래에 다양한 연산을 자유롭게 적용해보세요.
A.add(B, fill_value = 0)

print(A)

DataFrame 정렬하기

값으로 정렬하기
sort_values()

In [66]:
df = pd.DataFrame({
    "col1" : [2,1,9,8,7,4],
    "col2" : ['A','A','B',np.nan,'D','C'],
    "col3" : [0,1,9,4,2,3],
})

print(df)
#    col1 col2  col3
# 0     2    A     0
# 1     1    A     1
# 2     9    B     9
# 3     8  NaN     4
# 4     7    D     2
# 5     4    C     3 
print('-------------------------------------------')

# 컬럼 값으로 정렬하기 오름차순
print(df.sort_values('col1'))
#     col1 col2  col3
# 1     1    A     1
# 0     2    A     0
# 5     4    C     3
# 4     7    D     2
# 3     8  NaN     4
# 2     9    B     9

   col1 col2  col3
0     2    A     0
1     1    A     1
2     9    B     9
3     8  NaN     4
4     7    D     2
5     4    C     3
-------------------------------------------
   col1 col2  col3
1     1    A     1
0     2    A     0
5     4    C     3
4     7    D     2
3     8  NaN     4
2     9    B     9

값으로 정렬하기
df.sort_values('col1', ascending=False)

In [68]:
print(df)
#    col1 col2  col3
# 0     2    A     0
# 1     1    A     1
# 2     9    B     9
# 3     8  NaN     4
# 4     7    D     2
# 5     4    C     3

# 컬럼 값으로 정렬하기 내림차순
# ascending = False
print(df.sort_values('col1', ascending=False))
#    col1 col2  col3
# 2     9    B     9
# 3     8  NaN     4
# 4     7    D     2
# 5     4    C     3
# 0     2    A     0
# 1     1    A     1

   col1 col2  col3
2     9    B     9
3     8  NaN     4
4     7    D     2
5     4    C     3
0     2    A     0
1     1    A     1

값으로 정렬하기
df.sort_values(['col2','col1'])

In [70]:
print(df)
#    col1 col2  col3
# 0     2    A     0
# 1     1    A     1
# 2     9    B     9
# 3     8  NaN     4
# 4     7    D     2
# 5     4    C     3

# 값으로 정렬하는데 두개의 컬럼을 넣을 경우
# 컬럼2를 정렬하고 다음 컬럼 1로 정렬
print(df.sort_values(['col2','col1']))
#     col1 col2  col3
# 1     1    A     1
# 0     2    A     0
# 2     9    B     9
# 5     4    C     3
# 4     7    D     2
# 3     8  NaN     4

   col1 col2  col3
0     2    A     0
1     1    A     1
2     9    B     9
3     8  NaN     4
4     7    D     2
5     4    C     3
   col1 col2  col3
1     1    A     1
0     2    A     0
2     9    B     9
5     4    C     3
4     7    D     2
3     8  NaN     4

Dataframe 값으로 정렬하기!
데이터를 처리하다 보면 일정한 기준에 맞추어 정렬하는 일이 빈번하게 발생합니다.

pandas에서도 데이터를 필요에 맞게 정렬할 수 있습니다.

이번 실습에서는 데이터 프레임에 입력되어 있는 값을 오름차순, 내림차순으로 정렬해 봅시다.


지시사항
Q1.

데이터 프레임을 col1을 기준으로 오름차순 정렬한 결과를 sorted_df1에 저장하고 출력해주세요.

sorted_df1 = df.sort_values('col1', ascending = True)
Copy
Q2.

데이터 프레임을 col2를 기준으로 내림차순 정렬한 결과를 sorted_df2에 저장하고 출력해주세요.

sorted_df2 = df.sort_values('col2', ascending = False)
Copy
Q3.

데이터 프레임을 col2를 기준으로 오름차순 정렬한 뒤, col1을 기준으로 내림차순 정렬한 결과를 출력해봅시다.

즉, 2개의 정렬 기준을 두어야 합니다.

정렬한 결과를 sorted_df3에 저장하고 출력해주세요.

sorted_df3 = df.sort_values(['col2', 'col1'], ascending=[True, False])
Copy
Tip!
정렬 방법을 각각 적용하는 방법에 대해 알아봅시다. 복수의 정렬 기준을 두었을 때, 아래와 같은 방법으로 정렬 방법도 각각 지정해줄 수 있습니다.

data = data.sort_values(['col2', 'col1'], ascending=[True, False])
Copy
ascending 매개변수에 리스트 형식으로 True 및 False를 각각 대입해주면 col2에는 오름차순, col1에는 내림차순으로 정렬 기준이 각각 적용됩니다.

In [72]:
import numpy as np
import pandas as pd

print("DataFrame: ")
df = pd.DataFrame({
    'col1' : [2, 1, 9, 8, 7, 4],
    'col2' : ['A', 'A', 'B', np.nan, 'D', 'C'],
    'col3': [0, 1, 9, 4, 2, 3],
})
print(df, "\n")


# 정렬 코드 입력해보기    
# Q1. col1을 기준으로 오름차순으로 정렬하기.
sorted_df1 = df.sort_values("col1")
print(sorted_df1)
print()

# Q2. col2를 기준으로 내림차순으로 정렬하기.
sorted_df2 = df.sort_values('col2', ascending=False)
print(sorted_df2)
print()

# Q3. col2를 기준으로 오름차순으로, col1를 기준으로 내림차순으로 정렬하기.
sorted_df3 = df.sort_values(["col2","col1"], ascending=[True,False]) 
print(sorted_df3)

DataFrame:
   col1 col2  col3
0     2    A     0
1     1    A     1
2     9    B     9
3     8  NaN     4
4     7    D     2
5     4    C     3

   col1 col2  col3
1     1    A     1
0     2    A     0
5     4    C     3
4     7    D     2
3     8  NaN     4
2     9    B     9

   col1 col2  col3
4     7    D     2
5     4    C     3
2     9    B     9
0     2    A     0
1     1    A     1
3     8  NaN     4

   col1 col2  col3
0     2    A     0
1     1    A     1
2     9    B     9
5     4    C     3
4     7    D     2
3     8  NaN     4

데이터 분석가! Pandas
데이터 분석, 데이터 처리를 쉽게 하기 위해 만들어진 라이브러리.
Pandas

Series, Dataframe과 같은 여러 데이터 구조를 생성하고 변경할 수 있도록 도와 주는 라이브러리로 안정적으로 대용량 데이터들을 쉽게 처리할 수 있습니다.

pandas library에서 자주 사용되는 함수들로는

pd.series - 시리즈 데이터 생성
pd.DataFrame - 데이터 프레임 생성
pd.map -

pd.apply -

가 있습니다.